---
{
"title": "DPS Weapon Loadouts",
"date": "git Last Modified",
"tags": ["gear"],
"authors": ["Cytus#4151"]
}
---

{% macro weapon(name, tag, anchorVariant) %}
{% set data = getData(collections.simulacra, name) %}
{% set contents %}
<img src="/assets/images/wep/{{ name }}.png" alt="{{ data.name }}’s weapon" width="128" height="128" loading="lazy">
<span class="block leading-normal text-step-0">
	<a href="{{ getCollection(collections.simulacra, name).url }}" class="font-bold text-bold inline-block" {% if
		anchorVariant==='hover' %}data-underline="on-hover" {% endif %}>{{ data.name }}</a>
</span>
{% endset %}
{% if tag === 'header' %}
<h3 class="card">
	{{ contents | safe }}
</h3>
{% else %}
<div class="card">
	{{ contents | safe }}
</div>
{% endif %}
{% endmacro %}

{% macro section(name) %}
<article class="profile sheet p-s-m items-start" data-ratio="1-8">
	{{ weapon(name, 'header') }}
	<div class="stack copy">
		{{ caller() }}
	</div>
</article>
{% endmacro %}

{% macro pros() %}
<h4 class="text-step--1 font-fancy tracking-wider uppercase leading-none text-accent">Pros</h4>
<ul class="pros sheet p-s" data-layer="1" role="list">
	{{ caller() }}
</ul>
{% endmacro %}

{% macro cons() %}
<h4 class="text-step--1 font-fancy tracking-wider uppercase leading-none text-accent">Cons</h4>
<ul class="cons sheet p-s" data-layer="1" role="list">
	{{ caller() }}
</ul>
{% endmacro %}

<h2>Shield Breaker</h2>
<p>
	Deal the highest damage to shields. Necessary as most bosses and minibosses have shields that significantly reduce
	damage taken. Bosses will also use powerful attacks if their shield is not broken in time. These weapons tend to
	unlock a crucial shield break effect at 1★ or 3★.
</p>
<div>
	<details class="stack" data-collapse="always">
		<summary class="chip">Recommended Shield Breakers</summary>
		{% call section('baiyuekui') %}
		{% call pros() %}
		<li role="listitem">Insanely high damage with skills and dash attacks, instant burst on shieldbreak (3★)</li>
		<li role="listitem">i-frames on active skill</li>
		<li role="listitem">Can be paired with 2 support weapons</li>
		{% endcall %}
		{% endcall %}
		{% call section('ruby') %}
		{% call pros() %}
		<li role="listitem">Very high damage numbers, can be used as Main DPS</li>
		<li role="listitem">Detonates burn effects, synergize with fire weapons</li>
		<li role="listitem">Can permastun elite mobs and be effective at long range</li>
		{% endcall %}
		{% call cons() %}
		<li role="listitem">Not as efficient as other shieldbreakers til 5★</li>
		{% endcall %}
		{% endcall %}
		{% call section('king') %}
		{% call pros() %}
		<li role="listitem">High DoT on shieldbreak</li>
		<li role="listitem">Area burst with skills</li>
		{% endcall %}
		{% call cons() %}
		<li role="listitem">Easily interrupted when casting and basic attacking</li>
		{% endcall %}
		{% endcall %}
		{% call section('meryl') %}
		{% call pros() %}
		<li role="listitem">Highest shieldbreak efficiency, self-heal on shieldbreak (1★)</li>
		<li role="listitem">Immune to interrupts</li>
		{% endcall %}
		{% call cons() %}
		<li role="listitem">No shieldbreak damage</li>
		<li role="listitem">Clunky switch skill</li>
		{% endcall %}
		{% endcall %}
		{% call section('shiro') %}
		{% call pros() %}
		<li role="listitem">High burst with active skill + 3 dash attacks</li>
		<li role="listitem">3★ resets CDs on shieldbreak, benefits other weapons</li>
		{% endcall %}
		{% call cons() %}
		<li role="listitem">Skill has small range, useless if enemies are mobile</li>
		<li role="listitem">Switch skill is terrible</li>
		{% endcall %}
		{% endcall %}
		{% call section('huma') %}
		{% call pros() %}
		<li role="listitem">Decent shieldbreaking efficiency</li>
		<li role="listitem">Relatively high energy charge</li>
		{% endcall %}
		{% call cons() %}
		<li role="listitem">No shieldbreak effect</li>
		{% endcall %}
		{% endcall %}
	</details>
</div>
<h2>Main DPS</h2>
<p>
	Highest standing DPS to unshielded targets; the weapon you want to be on most of the time. These weapons tend to
	have low damage to shields and average charge rate.
</p>
<div>
	<details class="stack" data-collapse="always">
		<summary class="chip">Recommended Main DPS</summary>
		{% call section('cobalt-b') %}
		{% call pros() %}
		<li role="listitem">Applies multiple high damage burn effects</li>
		<li role="listitem">Very high damage active skill</li>
		{% endcall %}
		{% call cons() %}
		<li role="listitem">Reliant on 2 set Cobalt chips to apply 3rd burn</li>
		<li role="listitem">Reliant on 6★ to reduce skill cooldown</li>
		{% endcall %}
		{% endcall %}
		{% call section('samir') %}
		{% call pros() %}
		<li role="listitem">Fast hits, good DPS and charge rate</li>
		<li role="listitem">Safe AoE air attack</li>
		{% endcall %}
		{% call cons() %}
		<li role="listitem">Final hit of ground basic attack is terrible</li>
		<li role="listitem">Bad long range attack, ineffective anti-air</li>
		{% endcall %}
		{% endcall %}
		{% call section('crow') %}
		{% call pros() %}
		<li role="listitem">Backstabs, execute, built-in crit buffs</li>
		<li role="listitem">Air attack has very high DPS potential</li>
		{% endcall %}
		{% call cons() %}
		<li role="listitem">Very difficult to use, requires 2-piece Claudia matrix set</li>
		<li role="listitem">Weak at low ★s</li>
		{% endcall %}
		{% endcall %}
		{% call section('frigg') %}
		{% call pros() %}
		<li role="listitem">Ice field allows free dash attacks and buffs other ice weapons</li>
		<li role="listitem">Large AOE attacks</li>
		<li role="listitem">i-frames on active skill</li>
		{% endcall %}
		{% call cons() %}
		<li role="listitem">Slow attacks, reliant on staying in ice field</li>
		{% endcall %}
		{% endcall %}
		{% call section('tsubasa') %}
		{% call pros() %}
		<li role="listitem">High charge rate</li>
		<li role="listitem">Good dash attack and arrow rain damage</li>
		<li role="listitem">i-frames on active skill</li>
		{% endcall %}
		{% call cons() %}
		<li role="listitem">Basic attacks are weak and blocked by other players</li>
		{% endcall %}
		{% endcall %}
		{% call section('ene') %}
		{% call pros() %}
		<li role="listitem">Good DPS for SR</li>
		<li role="listitem">Provides good CC and CC immunity</li>
		<li role="listitem">Active skill allows dash attack spam</li>
		{% endcall %}
		{% call cons() %}
		<li role="listitem">Slow attacks</li>
		{% endcall %}
		{% endcall %}
	</details>
</div>
<h2>Support DPS</h2>
<p>
	Increase your overall DPS through damage buffs and other means. These weapons are best used as “quickswap” weapon,
	by rotating frequently to throw out their burst and refresh their buffs.
</p>
<div>
	<details class="stack" data-collapse="always">
		<summary class="chip">Recommended Support DPS</summary>
		{% call section('marc') %}
		{% call pros() %}
		<li role="listitem">35% all damage buff (3★) and CC immunity buff (6★)</li>
		<li role="listitem">High charge rate</li>
		{% endcall %}
		{% call cons() %}
		<li role="listitem">No useful buffs before 3★, takes damage for allies</li>
		{% endcall %}
		{% endcall %}
		{% call section('nemesis') %}
		{% call pros() %}
		<li role="listitem">20%/40%(5★)/50%(6★) electric attack buff</li>
		<li role="listitem">Heals while doing good passive dps (3★+)</li>
		{% endcall %}
		{% call cons() %}
		<li role="listitem">Only supports electric weapons</li>
		{% endcall %}
		{% endcall %}
		{% call section('tsubasa') %}
		{% call pros() %}
		<li role="listitem">Highest charge rate against grouped enemies</li>
		<li role="listitem">24% (1★)/40% (6★) all damage buff</li>
		{% endcall %}
		{% call cons() %}
		<li role="listitem">Reliant on dash attacks to apply buff until 6★</li>
		{% endcall %}
		{% endcall %}
		{% call section('claudia') %}
		{% call pros() %}
		<li role="listitem">24% all damage buff (1★), 10% (3★)/20% (6★) phys damage increase, 20% skill damage buff (5★)
		</li>
		<li role="listitem">High charge rate</li>
		{% endcall %}
		{% call cons() %}
		<li role="listitem">Vulnerable during skill</li>
		<li role="listitem">No main physical DPS to support</li>
		{% endcall %}
		{% endcall %}
		{% call section('shiro') %}
		{% call pros() %}
		<li role="listitem">1★ greatly increases team burst damage and shieldbreak during active skill</li>
		<li role="listitem">3★ resets cooldowns on shieldbreak, benefitting other weapons</li>
		{% endcall %}
		{% call cons() %}
		<li role="listitem">Reliant on active skill</li>
		{% endcall %}
		{% endcall %}
		{% call section('bai-ling') %}
		{% call pros() %}
		<li role="listitem">Applies wounded debuff on dash attacks (increase all damage to target by 20%)</li>
		<li role="listitem">Useful in group raid if you don't have good DPS options yourself</li>
		{% endcall %}
		{% endcall %}
	</details>
</div>

{% macro weaponList(list) %}
{% set desc -%}A weapon loadout composed of {{ getData(collections.simulacra, list[0]).name }}, {{
getData(collections.simulacra, list[1]).name }}, and {{ getData(collections.simulacra, list[2]).name }}{%- endset %}
<li class="sheet cluster justify-center p-s" data-layer="1" aria-description="{{ desc }}">
	{% for item in list %}
	<div class="flex flex-col-reverse flex-nowrap items-center">
		<h3 class="small font-normal text-center text-accent leading-none">
			{% if loop.index === 1 %}
			Shield Breaker
			{% elif loop.index === 2 %}
			Main DPS
			{% elif loop.index === 3 %}
			Support
			{% endif %}
		</h3>
		{{ weapon(item, '', 'hover') }}
	</div>
	{% endfor %}
</li>
{% endmacro %}

<h2>Strongest Setups</h2>
<details>
	<summary class="chip">Setups With 6★ and Maxed Matrices</summary>
	<ul class="sheet stack p-s-m">
		{{ weaponList(['baiyuekui', 'marc', 'nemesis']) }}
		{{ weaponList(['baiyuekui', 'claudia', 'nemesis']) }}
		{{ weaponList(['ruby', 'cobalt-b', 'marc']) }}
	</ul>
</details>
<details>
	<summary class="chip">Setups Without Limited Weapons</summary>
	<ul class="sheet stack p-s-m">
		{{ weaponList(['king', 'samir', 'tsubasa']) }}
	</ul>
</details>

{% block scripts %}
{% set js %}
{% include "scripts/expand-details.js" %}
{% endset %}
<script>{{ js | jsmin | safe }}</script>
{% endblock %}