# Misc
*.log
npm-debug.*
*.scssc
*.log
*.swp
.DS_Store
Thumbs.db
.sass-cache
.env
.cache
.atom-build.*
.atom-live-server.*

# Node modules and output
node_modules
dist
_site
.netlify/
netlify/edge-functions/_generated
src/_includes/css
src/__trash
