aside {
	@apply drop-shadow-2xl;
	background-image: linear-gradient(135deg,
		theme('colors.bold'),
		theme('colors.base') calc(100% - 1em),
		transparent calc(100% - 1em)
	);
	border-left: 0.31em solid theme('colors.secondary-dim');
	box-sizing: content-box;
	color: theme('colors.sheet.0');
	font-weight: bold;
	line-height: 1.45;
	padding: theme('spacing.s-l') theme('spacing.m-l') theme('spacing.s-l') theme('spacing.s-l');
	transform: translate3d(0, 0, 0);
}

aside > :focus {
	@apply outline-sheet-0/50;
}

aside a {
	text-decoration-color: theme('colors.secondary-dim');
}

aside strong {
	background-color: theme('colors.sheet.0');
	color: theme('colors.bold');
	display: inline-block;
	overflow-wrap: break-word;
	padding: 0 0.25em;
}
