aside {
	@apply drop-shadow-2xl;
	background-image: linear-gradient(135deg,
		theme('colors.sheet.3') calc(100% - 1em),
		transparent calc(100% - 1em)
	);
	border-left: 0.3em solid theme('colors.secondary');
	box-sizing: content-box;
	font-weight: bold;
	line-height: 1.5;
	padding: theme('spacing.s-l') theme('spacing.m-l') theme('spacing.s-l') theme('spacing.s-l');
	transform: translate3d(0, 0, 0);
}
