.chip {
	@apply bg-accent/20 shadow-md ring-1 ring-glare ring-inset;
	color: theme('colors.bold' / 90%);
	display: inline-block;
	font-weight: bold;
	line-height: 1;
	padding: 0.5em 0.6em;
	position: relative;
}

a.chip, a.chip:hover {
	text-decoration-color: currentColor;
}

a.chip:hover,
input + .chip:hover,
summary.chip:hover {
	@apply bg-accent/25;
}

input[type="checkbox"] + .chip,
input[type="radio"] + .chip {
	cursor: pointer;
	-webkit-user-select: none;
	user-select: none;
}

input[type="checkbox"]:focus-visible + .chip,
input[type="radio"]:focus-visible + .chip {
	outline: 0.12em solid theme('colors.primary');
	outline-offset: 0.2em;
}

input:checked + .chip,
details[open] > .chip {
	@apply shadow-lg;
}

input:checked + .chip > * {
	color: theme('colors.sheet.0');
}

input:checked + .chip,
.chip[data-variant~="knockout"] {
	@apply ring-bold;
	background-color: theme('colors.bold' / 96%);
	color: theme('colors.sheet.0');
}

.chip[data-variant~="knockout"] {
	letter-spacing: normal;
}

a.chip[data-variant~="knockout"]:hover {
	background-color: #fff;
}

a.chip[data-variant~="knockout"]:focus {
	background-color: #fff;
}

.chip[data-variant~="underline"] {
	border-bottom: 0.15em solid var(--border-color, currentColor);
}
