.chip {
	@apply bg-accent/14 shadow-md;
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	box-shadow: var(--tw-shadow), inset 0 0 0 1px theme('colors.glare');
	color: theme('colors.bold');
	display: inline-block;
	font-weight: bold;
	line-height: 1;
	padding: 0.5em 0.6em;
	position: relative;
}

a.chip, a.chip:hover {
	text-decoration-color: currentColor;
}

a.chip:hover,
input + .chip:hover,
summary.chip:hover {
	@apply bg-accent/20;
}

.sheet .chip {
	-webkit-backdrop-filter: none;
	backdrop-filter: none;
}

input[type="checkbox"] + .chip,
input[type="radio"] + .chip {
	cursor: pointer;
	user-select: none;
}

input[type="checkbox"]:focus-visible + .chip,
input[type="radio"]:focus-visible + .chip {
	outline: 0.12em solid theme('colors.primary');
	outline-offset: 0.2em;
}

input:checked + .chip,
details[open] > .chip {
	@apply shadow-lg;
}

input:checked + .chip {
	-webkit-backdrop-filter: none;
	backdrop-filter: none;
	background-color: theme('colors.bold');
	box-shadow: var(--tw-shadow), inset 0 0 0 1px theme('colors.base');
	color: theme('colors.sheet.0');
}

input:checked + .chip > * {
	color: theme('colors.sheet.0');
}

.chip[data-variant~="knockout"] {
	-webkit-backdrop-filter: none;
	backdrop-filter: none;
	background-color: theme('colors.bold');
	box-shadow: var(--tw-shadow), inset 0 0 0 1px theme('colors.base');
	color: theme('colors.sheet.0');
	letter-spacing: normal;
}

a.chip[data-variant~="knockout"]:hover {
	background-color: #fff;
}

a.chip[data-variant~="knockout"]:focus {
	background-color: #fff;
}

.chip[data-variant~="knockout"][data-color="primary"] {
	background-color: theme('colors.primary');
	box-shadow: var(--tw-shadow);
}

.chip[data-variant~="underline"] {
	border-bottom: 0.15em solid var(--border-color, currentColor);
}
