.page-header {
	--region-space: theme('spacing.xl-2xl');
	align-items: flex-start;
	display: flex;
	flex-flow: column;
	justify-content: flex-end;
	position: relative;
}

.page-header__inner {
	width: 100%;
}

.page-header__inner[data-page="item"] {
	display: flex;
	flex-flow: column-reverse nowrap;
	gap: var(--stack-space, 1em);
}

@media screen and (orientation: landscape) and (max-height: 400px) {
	.page-header__inner .item-frame {
		display: none !important;
	}
}

.page-header h1 {
	line-height: 0.92;
}
