input[type="range"] {
	display: block;
	font-size: theme('fontSize.step--1');
	height: 3em;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
}

input[type="range"]::-webkit-slider-runnable-track {
	@apply bg-sheet-0/80 rounded-full shadow-inner;
	border: none;
	cursor: pointer;
	height: 0.8rem;
}

input[type="range"]::-moz-range-track {
	@apply bg-sheet-0/80 rounded-full shadow-inner;
	border: none;
	cursor: pointer;
	height: 0.8rem;
}

input[type="range"]::-ms-track {
	@apply bg-sheet-0/80 rounded-full shadow-inner;
	border: none;
	cursor: pointer;
	height: 0.8rem;
}

input[type="range"]::-webkit-slider-thumb {
	@apply shadow shadow-sheet-0;
	background-color: theme('colors.primary');
	border: none;
	border-radius: 0;
	height: 1.25rem;
	margin-top: calc((-1.25rem + 0.8rem) / 2);
	transform: rotate(45deg);
	width: 1.25rem;
}

input[type="range"]::-moz-range-thumb {
	@apply shadow shadow-sheet-0;
	background-color: theme('colors.primary');
	border: none;
	border-radius: 0;
	height: 1.25rem;
	margin-top: calc((-1.25rem + 0.8rem) / 2);
	transform: rotate(45deg);
	width: 1.25rem;
}

input[type="range"]::-ms-thumb {
	@apply shadow shadow-sheet-0;
	background-color: theme('colors.primary');
	border: none;
	border-radius: 0;
	height: 1.25rem;
	margin-top: calc((-1.25rem + 0.8rem) / 2);
	transform: rotate(45deg);
	width: 1.25rem;
}

input[type="range"]:hover::-webkit-slider-thumb {
	@apply shadow-md shadow-sheet-0;
	background-color: theme('colors.primary-glare');
}

input[type="range"]:hover::-moz-range-thumb {
	@apply shadow-md shadow-sheet-0;
	background-color: theme('colors.primary-glare');
}

input[type="range"]:hover::-ms-thumb {
	@apply shadow-md shadow-sheet-0;
	background-color: theme('colors.primary-glare');
}

input[type="range"]:focus::-webkit-slider-thumb {
	background-color: theme('colors.bold');
	outline: 0.15em solid theme('colors.primary');
	outline-offset: 0.25em;
}

input[type="range"]:focus::-moz-range-thumb {
	background-color: theme('colors.bold');
	outline: 0.15em solid theme('colors.primary');
	outline-offset: 0.25em;
}

input[type="range"]:focus::-ms-thumb {
	background-color: theme('colors.bold');
	outline: 0.15em solid theme('colors.primary');
	outline-offset: 0.25em;
}

input[type="range"][list] {
	width: calc(100% - 1ch);
}

input[type="range"] + datalist {
	-webkit-appearance: none;
	appearance: none;
	display: flex !important;
	font-size: theme('fontSize.step--1');
	justify-content: space-between;
	width: 100%;
}

input[type="range"] + datalist > option {
	-webkit-appearance: none;
	appearance: none;
	display: block !important;
	padding-left: 0;
	padding-right: 0;
}
