.site-bg {
	--position-x: calc(100% + var(--background-offset, 300px) - 5vw);
	--position-x: min(calc(100% + var(--background-offset, 300px) - 5vw), calc(50% + 50rem));
	--position-y: top;
	--position: var(--position-x) var(--position-y);
	height: 100vh;
	height: max(100%, 100vh);
	height: 100lvh;
	position: fixed;
	-webkit-user-select: none;
	user-select: none;
	width: 100vw;
	width: 100lvw;
	z-index: -1;
}

.site-bg img {
	display: none;
}

.site-bg.legacy {
	background-image: var(--background-image);
	background-position: var(--position);
	background-repeat: no-repeat;
}

@supports (object-fit: none) {
	.site-bg img {
		display: block;
		height: 100%;
		object-fit: none;
		object-position: var(--position);
		position: relative;
		width: 100%;
	}

	.site-bg.legacy {
		background-image: none;
		display: none;
	}
}
