<nav class="cluster items-start gap-l" aria-label="Footer">
	<section class="grow stack">
		<h2 class="text-step-0 font-sans normal-case tracking-[inherit]" data-appearance="none">Site Navigation</h2>
		<ul class="auto-grid content-start gap-2xs copy">
			{% for item in site.navigation.pages %}
			{% if not item.external %}
			<li>
				<a href="{{ item.url }}" data-underline="on-hover">{{ item.text }}</a>
			</li>
			{% endif %}
			{% endfor %}
		</ul>
	</section>
	<section class="stack">
		<h2 class="text-step-0 font-sans normal-case tracking-[inherit]" data-appearance="none">Community</h2>
		<ul class="auto-grid content-start gap-2xs copy">
			{% for item in site.navigation.socials -%}
			<li>
				<a href="{{ item.url }}" data-underline="on-hover" {% if item.external %}target="_blank"{% endif %}>
					{{ item.text }}
				</a>
			</li>
			{% endfor %}
		</ul>
	</section>
</nav>
