<nav class="nav" aria-label="Primary" data-open="false">
	<details class="nav__widget region stack wrapper" data-wrapper="wide">
		<summary class="nav__toggle text-step--1 button" data-variant="ghost">
			{% include "icons/menu.svg" %}
			<span>Menu</span>
		</summary>
		<a href="/" class="nav__head" aria-label="{{ site.name }} - home">
			{% image 'src/assets/images/avatar/tata.png', '' %}
			<span>Tower of Fantasy Index</span>
		</a>
		<ul class="nav__links flex-grid">
			{% for item in site.navigation.pages %}
			<li>
				<a
					href="{{ item.url }}"
					{{ helpers.getLinkActiveState(item.url, page.url) | safe }}
					{% if item.external %}target="_blank"{% endif %}
				>
					<span>{{ item.text }}</span>
				</a>
			</li>
			{% endfor %}
		</ul>
		<ul class="nav__links flex-grid text-secondary">
			{% for item in site.navigation.socials -%}
			<li>
				<a href="{{ item.url }}" {% if item.external %}target="_blank"{% endif %}>
					<span>{{ item.text }}</span>
				</a>
			</li>
			{%- endfor %}
		</ul>
	</details>
</nav>
