.copy {
	--__default-stack-space: theme('spacing.m');
	--stack-space: var(--__default-stack-space);
}

.copy > figure, .copy > figure + *,
.copy > hr, .copy > hr + * {
	--modified-stack-space: theme('spacing.xl');
}

.copy > aside,
.copy > aside + * {
	--modified-stack-space: theme('spacing.l');
}

.copy > aside,
.copy > figure,
.copy > hr {
	--stack-space: var(--modified-stack-space);
}

.copy > aside:not(:last-child),
.copy > figure:not(:last-child),
.copy > hr:not(:last-child) {
	margin-bottom: var(--modified-stack-space);
}

.copy > figure > *:not(.stack),
.copy > aside > *:not(.stack) {
	--stack-space: var(--__default-stack-space);
}

.copy > summary + h2,
.copy > summary + h3,
.copy > summary + h4,
.copy > summary + p {
	--stack-space: 1.32em;
}

.copy > h2 {
	--stack-space: theme('spacing.2xl');
}

.copy > h3 {
	--stack-space: theme('spacing.l-xl');
}

.copy > h4 {
	--stack-space: theme('spacing.l')
}

.copy > h2 + *:not([class*="mt-"]) {
	margin-top: theme('spacing.m');
}

.copy > h2[data-appearance="none"] + *:not([class*="mt-"]) {
	margin-top: 1em;
}

.copy > h3 + *:not([class*="mt-"]) {
	margin-top: theme('spacing.xs');
}

.copy > h4 + *:not([class*="mt-"]) {
	margin-top: theme('spacing.2xs');
}

.copy > ul:not([class]) > li + li,
.copy > ol:not([class]) > li + li {
	margin-top: theme('spacing.2xs');
}
