.wrapper {
	/* --__default-wrapper-max-width: 100%; */
	--__default-wrapper-padding: theme('spacing.m-2xl');
	padding-left: var(--wrapper-padding, var(--__default-wrapper-padding));
	padding-right: var(--wrapper-padding, var(--__default-wrapper-padding));
	position: relative;
}

/* .wrapper > * {
	max-width: var(--wrapper-max-width, var(--__default-wrapper-max-width));
	margin-right: auto;
}

.wrapper > h2:not([data-appearance="none"]) {
	max-width: 100%;
}

.wrapper[data-wrapper="wide"] {
	--wrapper-max-width: 100%;
} */

/* .wrapper[data-flush="left"] > * {
	margin-left: 0;
}

.wrapper[data-flush="left"] > h2 {
	padding-left: 0;
} */

@supports (padding: max(0px)) {
	.wrapper[data-wrapper="site"] {
		/* --wrapper-max-width: var(--__default-wrapper-max-width); */
		--wrapper-padding: var(--__default-wrapper-padding);
		padding-left: calc(var(--wrapper-padding) + env(safe-area-inset-left));
		padding-right: calc(var(--wrapper-padding) + env(safe-area-inset-right));
	}

	.wrapper[data-wrapper="site"] > h2::before {
		left: calc(-1 * (var(--wrapper-padding) + env(safe-area-inset-left)));
		right: calc(-1 * (var(--wrapper-padding) + env(safe-area-inset-right)));
	}
}
