{% extends "partials/card-list/base.html" %}

{% block cardImage %}
<div class="relative">
	{% image 'src/assets/images/avatar/' + item.fileSlug + '.png', '', 'shadow-xl rounded-full bg-sheet-3', '', 'lazy' %}
	{% if item.data.isNew %}{{ new('-7px') }}{% endif %}
</div>
{% endblock %}

{% block extraInformation %}
<div class="text-center text-step-0 leading-none stack-space-2xs">
	{% image 'src/assets/images/icon/reso_' + item.data.weapon.resonance + '.png', item.data.weapon.resonance | capitalize + ' resonance', 'inline-block' %}
	&#32;
	{% image 'src/assets/images/icon/ele_' + item.data.weapon.element + '.png', string.element[item.data.weapon.element].name | capitalize + ' element', 'inline-block' %}
</div>
{% endblock %}
