<ul class="card-list auto-grid max-w-full">
	{% for item in items | sortBy('name') | reverse | sortBy(['isNew', 'isChina']) | reverse %}
		<li class="sheet card stack p-s">
			<div class="relative">
				{% image 'src/assets/images/avatar/' + item.fileSlug + '.png', '', 'shadow-xl rounded-full bg-sheet-3', '', 'lazy' %}
				{% if item.data.isNew %}
					<span class="new-badge absolute bottom-[-7px] inset-x-1/4" aria-hidden="true">
						New
					</span>
				{% endif %}
			</div>
			<div class="font-bold text-center stack">
				<div class="absolute top-3xs left-3xs leading-none">
					{% if item.data.isChina %}
						{% china %}
					{% endif %}
				</div>
				<a class="text-bold/90" href="{{ item.url }}" data-underline="on-hover">
					{{ item.data.name }}
				</a>
				<div class="text-center text-step-0 leading-none stack-space-2xs">
					{% image 'src/assets/images/icon/reso_' + item.data.weapon.resonance + '.png', item.data.weapon.resonance | capitalize + ' resonance', 'inline-block' %}
					&#32;
					{% image 'src/assets/images/icon/ele_' + item.data.weapon.element + '.png', string.element[item.data.weapon.element].name | capitalize + ' element', 'inline-block' %}
				</div>
			</div>
		</li>
	{% endfor %}
</ul>
