.big-table, .wrapper > .big-table {
	--wrapper-padding: 0;
	max-width: none;
	overflow-x: auto;
}

.big-table > table {
	max-width: none;
}

.big-table[data-width="stretch"] > table {
	width: 100%;
}

summary + .big-table {
	margin-top: 0;
}
