.copy {
	--stack-space: theme('spacing.m');
}

.copy > h2 {
	--stack-space: theme('spacing.xl-2xl');
}

.copy > * + h2:not([data-rule="none"])::before,
.copy > h2[data-rule]:not([data-rule="none"])::before,
.copy > * + .has-h2:not([data-rule="none"])::before,
.copy > .has-h2[data-rule]:not([data-rule="none"])::before {
	border-top: 1px solid;
	color: theme('colors.divider');
	content: '';
	display: block;
	width: 100%;
	margin-bottom: theme('spacing.l-xl');
}

.copy > h3 {
	--stack-space: theme('spacing.xl-2xl');
}

.copy > h4 {
	--stack-space: theme('spacing.l')
}

.copy > h2 + *, .copy > h3 + * {
	--stack-space: 1em;
}

.copy > h4 + * {
	--stack-space: theme('spacing.2xs');
}

.copy > figure,
.copy > figure + *,
.copy > aside,
.copy > aside + *,
.copy > hr,
.copy > hr + * {
	--stack-space: theme('spacing.xl');
}
