.copy {
	--stack-space: theme('spacing.m');
}

.copy > h2 {
	--stack-space: theme('spacing.xl-2xl');
}

.copy > h3 {
	--stack-space: theme('spacing.xl-2xl');
}

.copy > h4 {
	--stack-space: theme('spacing.l')
}

.copy > h2 + *, .copy > h3 + * {
	--stack-space: 1em;
}

.copy > h4 + * {
	--stack-space: theme('spacing.2xs');
}

.copy > figure,
.copy > figure + *,
.copy > aside,
.copy > aside + *,
.copy > hr,
.copy > hr + * {
	--stack-space: theme('spacing.xl');
}

/* .not-copy,
.not-copy > * + *,
.not-copy h2,
.not-copy h3,
.not-copy h4,
.not-copy figure:not([class*="stack-space"]),
.not-copy h2 + *,
.not-copy h3 + *,
.not-copy h4 + *,
.not-copy figure:not([class*="stack-space"]) + * {
	--stack-space: unset;
} */
