.copy {
	--stack-space: theme('spacing.m');
}

.copy > h2 {
	--stack-space: theme('spacing.2xl');
}

/* .copy > * + h2:not([data-rule="none"])::before,
.copy > h2[data-rule]:not([data-rule="none"])::before,
.copy > * + .has-h2:not([data-rule="none"])::before,
.copy > .has-h2[data-rule]:not([data-rule="none"])::before {
	border-top: 1px solid;
	color: theme('colors.divider');
	content: '';
	display: block;
	width: 100%;
	margin-bottom: theme('spacing.l-xl');
} */

.copy > h3 {
	--stack-space: theme('spacing.xl');
}

.copy > h4 {
	--stack-space: theme('spacing.l')
}

.copy > h2 + * {
	--stack-space: theme('spacing.m');
}

.copy > h2[data-appearance="none"] + *, .copy > h3 + * {
	--stack-space: 1em;
}

.copy > h4 + * {
	--stack-space: theme('spacing.2xs');
}

.copy > figure,
.copy > figure + *,
.copy > hr,
.copy > hr + * {
	--stack-space: theme('spacing.xl');
}

.copy > aside,
.copy > aside + * {
	--stack-space: theme('spacing.l');
}

.copy > summary + h2,
.copy > summary + h3,
.copy > summary + h4,
.copy > summary + p {
	--stack-space: 1.32em;
}
