.with-rule > * + *::before,
.with-rule[data-rule-top="true"] > *:first-child::before {
	border-top: 1px solid;
	color: theme('colors.divider');
	content: '';
	display: block;
	font-size: initial;
	margin-bottom: var(--stack-space, 1em);
	width: 100%;
}

.with-rule[data-margin="none"] > * + *::before,
.with-rule[data-margin="none"] > *:first-child::before {
	margin-bottom: 0;
}
