.wrapper {
	--wrapper-max-width: 46rem;
  padding-left: var(--wrapper-padding, theme('spacing.m-xl'));
  padding-right: var(--wrapper-padding, theme('spacing.m-xl'));
  position: relative;
}

.wrapper > * {
	max-width: var(--wrapper-max-width, 46rem);
	margin-left: auto;
	margin-right: auto;
}

.wrapper > h2:not([data-appearance="none"]) {
	max-width: none;
}

.wrapper[data-wrapper="wide"] {
	--wrapper-max-width: 100%;
}

@supports (padding: max(0px)) {
	.wrapper[data-wrapper="site"] {
		--wrapper-padding: theme('spacing.m-xl');
		padding-left: calc(var(--wrapper-padding) + env(safe-area-inset-left));
		padding-right: calc(var(--wrapper-padding) + env(safe-area-inset-right));
	}

	.wrapper[data-wrapper="site"] > h2::before {
		left: calc(-1 * (var(--wrapper-padding) + env(safe-area-inset-left)));
		right: calc(-1 * (var(--wrapper-padding) + env(safe-area-inset-right)));
	}
}
