<h3>Preferred Gifts</h3>
<div>
	<ul class="cluster gap-xs">
		{% for cat in gifts.categories %}
		<li class="chip" data-variant="underline" style="color: {{ string.giftCategories[cat].color }}">{{ string.giftCategories[cat].name }}</li>
		{% endfor %}
	</ul>
	<ul class="cluster gap-2xs">
		{% for gift, value in gifts.items | sortBy('name', items.gifts, 0) | sortBy([1]) | reverse %}
			{% if value >= 60 %}
				{% set rarity = 4 %}
			{% elif value >= 30 and value < 60 %}
				{% set rarity = 3 %}
			{% else %}
				{% set rarity = 2 %}
			{% endif %}
			<li class="item-frame" data-rarity="{{ rarity }}" data-size="m">
				<img src="/assets/images/affinity/{{ gift }}.png" title="{{ items.gifts[gift].name }}" alt="{{ items.gifts[gift].name }}" width="91" height="91" loading="lazy">
				<span class="item-frame__info" data-align="right">+{{ value }}</span>
			</li>
		{% endfor %}
	</ul>
	{% if helpers.isArray(gifts.categories) and 'vera' in gifts.categories %}
		<p>
			<small class="text-accent">Characters with the Vera tag will only receive full affinity from Vera gifts.</small>
		</p>
	{% endif %}
</div>
