<h3>Simulacrum Passive</h3>
<div class="highlight-bold overflow-x-auto">
	<table data-stripe="odd">
		<thead>
			<tr>
				<th scope="col">Points</th>
				<th scope="col">Effect</th>
			</tr>
		</thead>
		<tbody>
			{% for item in content.mimicEffects %}
				{% if item.affinity == 1200 or item.affinity == 4000 %}
					<tr>
						<th scope="row" class="text-primary">{{ item.affinity }}</th>
						<td class="stack">{{ item.effect | markdown | safe }}</td>
					</tr>
				{% endif %}
			{% endfor %}
		</tbody>
	</table>
</div>
