<details>
	<summary class="chip">Gift Items</summary>
	<ul class="sheet !p-s cluster gap-2xs mt-0" data-border="none">
		{% for gift, value in gifts.items | sortBy(['rarity', 'name'], items.gifts, 0) | sortBy([1]) | reverse %}
		<li class="item-frame" data-rarity="{{ items.gifts[gift].rarity }}" data-size="m">
			<img src="/assets/images/affinity/{{ gift }}.png" title="{{ items.gifts[gift].name }}" alt="{{ items.gifts[gift].name }}" width="91" height="91" loading="lazy">
			<span class="item-frame__info" data-align="right">+{{ value }}</span>
		</li>
		{% endfor %}
	</ul>
	{% if helpers.isArray(gifts.categories) and 'vera' in gifts.categories %}
	<p>
		<small class="text-accent">Characters with the Vera tag will only receive full affinity from Vera gifts.</small>
	</p>
	{% endif %}
</details>
