<details>
	<summary class="chip">Awakening</summary>
	<div class="bold-secondary big-table wrapper">
		<table>
			<thead class="visually-hidden">
				<tr>
					<th scope="col">Stars</th>
					<th scope="col">Bonus</th>
				</tr>
			</thead>
			<tbody>
				{% for item in weapon.awakening %}
					<tr>
						<th scope="row" class="text-primary whitespace-nowrap">
							{{ loop.index }}&nbsp;★ <span class="visually-hidden"> star{{ 's' if loop.index > 1 }}</span>
						</th>
						<td class="stack">{{ item | markdown | safe }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</details>
