<details class="highlight-bold mt-l stack">
	<summary>
		<h3><span role="presentation">⭐</span> Awakening</h3>
	</summary>
	<div class="overflow-x-auto">
		<table data-stripe="even">
			<thead class="visually-hidden">
				<tr>
					<th scope="col">Stars</th>
					<th scope="col">Bonus</th>
				</tr>
			</thead>
			<tbody>
				{% for item in weapon.awakening %}
				<tr>
					<th scope="row" class="text-primary whitespace-nowrap">{{ loop.index }} ★</th>
					<td class="stack">{{ item | markdown | safe }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</details>
