<div class="character-info profile sheet box-border"   data-ratio="1-999" data-direction="rtl" data-china="{{ isChina }}">
	{% image 'src/assets/images/charts/' + page.fileSlug + '.png', 'Radar chart of ' + name + '’s personality traits' %}
	<div class="auto-grid">
		<div class="infobite">
			<h3>Gender</h3>
			<p>{{ traits.gender }}</p>
		</div>
		<div class="infobite">
			<h3>Height</h3>
			<p>{{ traits.height }}</p>
		</div>
		<div class="infobite">
			<h3>Birthplace</h3>
			<p>{{ traits.birthplace }}</p>
		</div>
		<div class="infobite">
			<h3>Horoscope</h3>
			<p>{{ traits.horoscope }}</p>
		</div>
		<div class="infobite">
			<h3>Birthday</h3>
			<p>{{ traits.birthday }}</p>
		</div>
	</div>
</div>
