<div class="character-info profile sheet" data-china="{{ isChina }}">
	{% image 'src/assets/images/charts/' + page.fileSlug + '.png', 'Radar chart of ' + name + '’s personality traits' %}
	<dl class="auto-grid">
		<div class="infobite">
			<dt>Gender</dt>
			<dd>{{ traits.gender }}</dd>
		</div>
		<div class="infobite">
			<dt>Height</dt>
			<dd>{{ traits.height }}</dd>
		</div>
		<div class="infobite">
			<dt>Birthplace</dt>
			<dd>{{ traits.birthplace }}</dd>
		</div>
		<div class="infobite">
			<dt>Horoscope</dt>
			<dd>{{ traits.horoscope }}</dd>
		</div>
		<div class="infobite">
			<dt>Birthday</dt>
			<dd>{{ traits.birthday }}</dd>
		</div>
	</dl>
</div>