{% macro material(material, rarity, index = 1) %}
	<div class="item-frame grow" data-size="m" data-rarity="{{ rarity }}">
		<img src="/assets/images/mat/{{ material }}{{ index }}.png" alt="{{ material }} {{ index }}" width="91" height="91" loading="lazy">
	</div>
{% endmacro %}

{% macro progression(quantity) %}
	<div class="flex flex-nowrap items-center justify-center gap-2xs text-center">
		{% include "icons/arrow-right.svg" %}
		<span class="font-bold">×{{ quantity }}</span>
		{% include "icons/arrow-right.svg" %}
	</div>
{% endmacro %}

{% if weapon.materials %}
	<h3>Breakthrough Materials</h3>
	<div class="stack">
		<div class="sheet box-border reel gap-xs" data-layer="1">
			{{ material(weapon.materials[0], 2, 1) }}
			{{ progression(4) }}
			{{ material(weapon.materials[0], 3, 2) }}
			{{ progression(5) }}
			{{ material(weapon.materials[0], 4, 3) }}
		</div>
		<div class="sheet box-border reel gap-xs" data-layer="1">
			{{ material(weapon.materials[1], 3, 1) }}
			{{ progression(4) }}
			{{ material(weapon.materials[1], 4, 2) }}
			{{ progression(5) }}
			{{ material(weapon.materials[1], 5, 3) }}
		</div>
		<div class="sheet box-border reel gap-xs" data-layer="1">
			{{ material(weapon.materials[2], 4, 1) }}
			{{ progression(4) }}
			{{ material(weapon.materials[2], 5, 2) }}
			{{ progression(5) }}
			{{ material(weapon.materials[2], 5, 3) }}
		</div>
	</div>
{% endif %}
