{% macro set(x) %}
	<span class="item-frame__info" data-align="right" aria-hidden="true">{{ x }}</span>
{% endmacro %}

<h3>Recommended Matrices</h3>
<ul class="reel sheet box-border gap-s mb-0 !p-s-l !py-s" tabindex="0">
	{% for chip, quantity in recChips %}
		{% if getData(collections.matrices, chip) %}
			{% set chipName = getData(collections.matrices, chip).name %}
		{% else %}
			{% set chipName = chip | capitalize %}
		{% endif %}
		<li class="card">
			<div class="item-frame" data-variant="matrix">
				<img src="/assets/images/chip/{{ chip }}.png" width="205" height="205" alt="" loading="lazy">
				{% if helpers.isArray(quantity) %}
					{% set comma = joiner(', ') %}
					{% set text = '' %}
					{% for i in quantity %}
						{% set text = text + comma() + '×' + i %}
					{% endfor %}
					{{ set(text) }}
				{% else %}
					{{ set('×' + quantity) }}
				{% endif %}
			</div>
			<div>
				<a class="card__link inline-block font-bold text-center text-step--1 leading-[1.2] max-w-[15ch]" href="/matrices/{{ chip }}" data-underline="on-hover">
					{{ chipName }}<span class="visually-hidden"> {{ quantity }}-set</span>
				</a>
			</div>
		</li>
	{% endfor %}
</ul>
<div class="reel-instructions sheet box-border mt-0 px-s py-xs"   data-layer="3">
	{% include "icons/arrow-left.svg" %}
	<span class="reel-instructions__label">Scroll for more</span>
	{% include "icons/arrow-right.svg" %}
</div>
