<h3>Recommended Matrices</h3>
<ul class="auto-grid mt-[1em]" data-variant="matrix-grid">
	{% for chip, quantity in recChips %}
	{% if helpers.findCollection(collections.matrices, chip) %}
	{% set chipName = helpers.findCollection(collections.matrices, chip).data.name %}
	{% else %}
	{% set chipName = chip | capitalize %}
	{% endif %}
	<li>
		<figure class="card">
			<div class="item-frame" data-variant="matrix">
				<img src="/assets/images/chip/{{ chip }}.png" width="205" height="205">
				<span class="item-frame__info" data-align="right">×{{ quantity }}</span>
			</div>
			<figcaption>
				<a class="card__link chip font-bold text-step--1" href="/matrices/{{ chip }}/" data-variant="hover">{{ chipName }}</a>
			</figcaption>
		</figure>
	</li>
	{% endfor %}
</ul>
