{% extends "partials/headers/base.html" %}

{% block content %}
	<div class="page-header__inner with-rule stack stack-space-s-l">
		<div>
			<h1>{{ title }}</h1>
			<p class="font-fancy uppercase text-step-2 tracking-wide">
				<span class="highlight-rarity italic" data-rarity="{{ rarity }}">{{ string.rarity[rarity - 1] }}</span> Simulacrum
			</p>
		</div>
		<nav aria-label="Secondary">
			<ul class="cluster font-bold mb-0">
				<li><a href="#weapon">Weapon</a></li>
				{% if skills %}
					<li><a href="#combat">Combat</a></li>
				{% endif %}
				<li><a href="#affinity">Affinity</a></li>
				<li><a href="#character-info">Character Info</a></li>
			</ul>
		</nav>
	</div>
{% endblock %}
