<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		{% include "partials/meta-info.html" %}

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Archivo:ital,wdth,wght@0,100,340;0,100,670;0,108,670;1,100,340&family=Chakra+Petch:ital,wght@0,700;1,700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="/css/global.css" />
		<link rel="icon" href="/assets/images/avatar/tata.png">
  </head>
  <body>
		{% include "partials/skip-link.html" %}
		{% if background %}
			{% set bgImg = "url('/assets/images/" + background + "')" %}
			{% set bgSlug = background.split('.')[0].split('/') | last %}
		{% else %}
			{% set bgImg = 'none' %}
			{% set bgSlug = '' %}
		{% endif %}
		<div class="site-bg" data-bg="{{ bgSlug }}" data-category="{{ bgCategory }}" role="presentation" style="background-image: {{ bgImg }};"></div>
		<div class="sidebar max-w-[120rem] ml-auto mr-auto" data-variant="center-content">
			{% include "partials/sidebar.html" %}
			<main class="stack" tabindex="-1" id="main-content">
				{% block header %}
					{% include "partials/standard-header.html" %}
				{% endblock %}
				{% set isCopy = true %}
				<div class="{% if isCopy %}copy{% endif %} bg-sheet-1 mt-0 region stack wrapper {{ extraClassNames }}" data-wrapper="site">
					{% block content %}{% endblock %}
				</div>
				{% block ending %}{% endblock %}
				{% include "partials/footer.html" %}
			</main>
		</div>
		{% block extras %}{% endblock %}
		<script src="/js/main.js"></script>
		{% block scripts %}{% endblock %}
  </body>
</html>
