<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		{% include "partials/meta-info.html" %}

		<link rel="stylesheet" href="/css/fonts.css">
		<link rel="stylesheet" href="/css/global.css">
		<link rel="icon" href="/assets/images/avatar/tata.png">
		<link rel="expect" blocking="render" href="#main-navigation">
  </head>
  <body>
		{% include "partials/skip-link.html" %}
		{% include "partials/site-bg.html" %}
		<div id="site" class="sidebar items-start gap-0 mx-auto">
			{% include "partials/nav/sidebar.html" %}
			<div class="site-content center-children">
				<main tabindex="-1" id="main-content">
					{% block header %}
						{% include "partials/headers/standard.html" %}
					{% endblock %}
					<div class="{{ 'copy' if isCopy | default(true) }} bg-sheet-1/90 shadow-xl region stack wrapper mt-0 {{ extraClassNames }}" data-wrapper="site">
						{% block content %}{% endblock %}
					</div>
					{% block ending %}{% endblock %}
				</main>
				{% include "partials/footer.html" %}
			</div>
		</div>
		{% block extras %}{% endblock %}
		{% set webStorageDetectionScript %}
			{% include "scripts/web-storage-detection.js" %}
		{% endset %}
		{% set navScript %}
			{% include "scripts/nav.js" %}
		{% endset %}
		{% set speculationrules %}
			{% include "scripts/speculationrules.json" %}
		{% endset %}
		<script>
			{{ webStorageDetectionScript | jsmin | safe }}
		</script>
		<script src="/js/main.js"></script>
		<script>{{ navScript | jsmin | safe }}</script>
		<script type="speculationrules">
			{{ speculationrules | safe }}
		</script>
		{% block scripts %}{% endblock %}
  </body>
</html>
