{% extends "layouts/base.html" %}

{% block content %}
	<article id="changes-list" class="copy stack">
		{% for year, yearChanges in changelog | groupByYear %}
			<h2 data-appearance="none">{{ year }}</h2>
			<div class="changelog sheet stack p-s-m" data-border="top" tabindex="0">
				{% for item in yearChanges %}
					<article>
						<h3>{{ item.date | stringifyDate }}</h3>
						<p>{{ item.template.frontMatter.content }}</p>
					</article>
				{% endfor %}
			</div>
		{% endfor %}
	</article>
	<footer class="mt-2xl">
		<nav class="spread gap-s-l">
			{% if pagination.href.next %}
				<a href="{{ pagination.href.next }}#changes-list" class="button" data-variant="ghost" data-color="secondary">
					{% include "icons/arrow-left.svg" %}
					<span>{{ paginationNextText if paginationNextText else 'Older' }}</span>
				</a>
			{% endif %}
			{% if pagination.href.previous %}
				<a href="{{ pagination.href.previous }}#changes-list" class="button" data-variant="ghost" data-color="secondary">
					<span>{{ paginationPrevText if paginationPrevText else 'Newer' }}</span>
					{% include "icons/arrow-right.svg" %}
				</a>
			{% endif %}
		</nav>
	</footer>
{% endblock %}
