{% extends "layouts/base.html" %}

{% set isCopy = false %}

{% block content %}
	<!-- htmlmin:ignore -->
	{% include "partials/damage-calculator/result.html" %}
	<form action="{{ page.url }}#result" method="post" class="stack max-w-none wrapper p-0" id="damage-calculator" data-wrapper="wide">
		<fieldset class="sheet stack box-border" data-layer="2">
			<legend class="text-step-3 uppercase font-fancy text-bold tracking-wide">Main Multipliers</legend>
			<div class="clear-both" role="presentation"></div>
			<div class="auto-grid mt-m gap-m-l">
				{% include "partials/damage-calculator/critical-rate.html" %}
				{% include "partials/damage-calculator/critical-dmg.html" %}
				{% include "partials/damage-calculator/mimic-passive.html" %}
				{% include "partials/damage-calculator/resonance.html" %}
			</div>
			{% include "partials/damage-calculator/weapon-buffs.html" %}
			{% include "partials/damage-calculator/matrices.html" %}
		</fieldset>
		<fieldset class="sheet stack box-border" data-layer="2">
			<legend class="text-step-3 uppercase font-fancy text-bold tracking-wide">Extra Options</legend>
			<div class="clear-both" role="presentation"></div>
			<div class="flex-grid mt-m gap-m-l">
				<div class="stack">
					{% include "partials/damage-calculator/arc-core-dmg.html" %}
					{% include "partials/damage-calculator/other-multipliers.html" %}
				</div>
				<div class="stack">
					{% include "partials/damage-calculator/heavily-wounded.html" %}
					{% include "partials/damage-calculator/elemental-resistance.html" %}
					{% include "partials/damage-calculator/elemental-weakness.html" %}
				</div>
			</div>
		</fieldset>
		<button class="block mt-l text-step-1" type="submit">Calculate Damage</button>
	</form>
	<!-- htmlmin:ignore -->
{% endblock %}

{% block ending %}
	<div class="ending stack copy wrapper region" data-wrapper="site">
		{% include "partials/damage-calculator/notes.html" %}
	</div>
{% endblock %}

{% block scripts %}
	<script src="/js/damage-calculator-test.js"></script>
{% endblock %}
