{% extends "layouts/base.html" %}

{% set isCopy = false %}

{% block content %}
	<div class="big-table wrapper max-w-full">
		<table class="highlight-bold">
			<thead>
				<tr>
					<th scope="col">Recipe</th>
					<th scope="col" class="visually-hidden">Rarity</th>
					<th scope="col" class="visually-hidden text-center">Stars</th>
					<th scope="col">Effect</th>
					<th scope="col">Ingredients</th>
				</tr>
			</thead>
			<tbody>
				{% asyncEach food in items.food | sortBy(['rarity', 'stars', 'name']) %}
					<tr id="{{ food.name | slugify }}">
						<th scope="row">
							{% include "partials/food/recipe.html" %}
						</th>
						<td class="visually-hidden">
							<span>{{ food.rarity }}</span>
						</td>
						<td class="visually-hidden text-center">
							<span>{{ food.stars }}</span>
						</td>
						<td class="align-middle">
							{% include "partials/food/effects.html" %}
						</td>
						<td class="align-middle">
							{% include "partials/food/ingredients.html" %}
						</td>
					</tr>
				{% endeach %}
			</tbody>
		</table>
	</div>
{% endblock %}
