{% extends "layouts/base.html" %}

{% set title = name %}
{% if rarity > 3 %}
	{% set background = 'art/' + page.fileSlug + '.png' %}
{% endif %}

{% block header %}
	{% include "partials/headers/matrix.html" %}
{% endblock %}

{% set extraClassNames = 'highlight-bold' %}

{% block content %}
	{% for i in range(0, sets.length) %}
		<h2 id="set-{{ sets[i] }}">{{ sets[i] }}-Set</h2>
		{{ chipEffects[0][i] | markdown | safe }}
		{% if chipEffects.length > 1 %}
			<details>
				<summary class="chip">Awakening Progression</summary>
				<div class="big-table wrapper">
					<table data-stripe="even">
						<thead>
							<tr>
								<th scope="col">Stars</th>
								<th scope="col">{{ sets[i] }}-set Bonus</th>
							</tr>
						</thead>
						<tbody>
							{% for effects in chipEffects %}
								{% if loop.index > 1 %}
									<tr>
										<th class="text-primary whitespace-nowrap" scope="row">
											{{ loop.index0 }}&nbsp;★ <span class="visually-hidden"> star{{ 's' if loop.index > 1 }}</span>
										</th>
										<td class="stack align-top">{{ effects[i] | markdown | safe }}</td>
									</tr>
								{% endif %}
							{% endfor %}
						</tbody>
					</table>
				</div>
			</details>
		{% else %}
			<p>
				<small class="text-accent">This matrix cannot be starred.</small>
			</p>
		{% endif %}
	{% endfor %}
{% endblock %}

{% block scripts %}
	<script src="/js/expand-details.js"></script>
 {% endblock %}