{% extends "layouts/base.html" %}

{% block content %}
	{% for mount in mounts %}
		<article class="sheet profile max-w-none items-start" data-border="none" data-ratio="1-999">
			<div>
				<img class="!m-0" src="/assets/images/mount/{{ mount }}.png" alt="" width="308" height="206" loading="{{ 'lazy' if loop.index > 3 else 'auto' }}">
			</div>
			<div class="stack copy">
				<h2>{{ items.mounts[mount].name }} {% if items.mounts[mount].isChina %}{% china %}{% endif %}</h2>
				{{ items.mounts[mount].source | markdown | safe }}
				{% if items.mounts[mount].materials %}
					<details>
						<summary class="chip">Materials ({{ items.mounts[mount].materials }})</summary>
						<ul class="sheet !p-s mt-0 reel gap-2xs m-0" data-layer="3" data-border="none">
							{% for i in range(0, items.mounts[mount].materials) %}
							<li class="item-frame" data-size="m" data-rarity="{{ '3' if loop.index === 1 else '1' }}">
								<img src="/assets/images/mount/{{ mount }}-{{ loop.index }}.png" alt="" width="128" height="128">
							</li>
							{% endfor %}
						</ul>
					</details>
				{% endif %}
			</div>
		</article>
	{% endfor %}
{% endblock %}
