{% extends "layouts/base.html" %}

{% set title = name %}
{% set background = 'art/' + page.fileSlug + '.png' %}

{% block header %}
	{% include "partials/headers/simulacrum.html" %}
{% endblock %}

{% block content %}
	<h2 id="weapon">Weapon</h2>
	{% include "partials/simulacrum/weapon-info.html" %}
	<h3>Weapon Effect</h3>
	{% include "partials/simulacrum/weapon-effect.html" %}
	<h3>Upgrades</h3>
	{% include "partials/simulacrum/awakening.html" %}
	{% include "partials/simulacrum/materials.html" %}
	<h3>Builds</h3>
	{% include "partials/simulacrum/rec-chips.html" %}
	<h2 id="affinity">Affinity</h2>
	{% include "partials/simulacrum/affinity-effects.html" %}
	<h3>Favorite Gifts</h3>
	{% include "partials/simulacrum/affinity-gift-categories.html" %}
	{% include "partials/simulacrum/affinity-gifts.html" %}
	<h2 id="character-info">Character Info</h2>
	{% include "partials/simulacrum/character-info.html" %}
{% endblock %}
