{% extends "layouts/base.html" %}

{% set title = name %}
{% set background = page.fileSlug %}

{% macro icon(src, alt, title) %}
<img
	src="/assets/images/icon/{{ src }}.png"
	alt=""
	title="{{ title }}"
	class="inline-block"
	width="34"
	height="31"
>
{% endmacro %}

{% macro weaponStat(figure, statTitle, statValue) %}
<figure class="weapon-stat">
	{{ figure | safe }}
	<figcaption>
		<h4 class="weapon-stat__title">{{ statTitle }}</h4>
		<span class="weapon-stat__value">{{ statValue }}</span>
	</figcaption>
</figure>
{% endmacro %}

{% block content %}
<header class="bg-sheet-1 region wrapper">
	<h1>{{ title }}</h1>
	<p class="font-fancy italic uppercase text-step-2">
		<span class="highlight-rarity" data-rarity="{{ rarity }}">{{ string.rarity[rarity - 1] }}</span> Simulacrum
	</p>
</header>
<article class="copy bg-sheet-1 region stack wrapper">
	<h2>Weapon</h2>
	{% include "partials/simulacrum/weapon-info.html" %}
	{% include "partials/simulacrum/weapon-effect.html" %}
	{% include "partials/simulacrum/awakening.html" %}
	{% include "partials/simulacrum/materials.html" %}
	{% include "partials/simulacrum/rec-chips.html" %}
</article>
{% endblock %}
