:disabled {
	color: theme('colors.accent');
	opacity: 0.65;
	pointer-events: none;
	mix-blend-mode: luminosity;
}

:disabled * {
	color: theme('colors.accent');
}

html, body {
	overflow-x: -moz-hidden-unscrollable;
	overflow-x: clip;
}

html {
	scroll-padding-top: 2em;
}

body {
	background-color: theme('colors.sheet.0');
	color: theme('colors.base');
	font-family: theme('fontFamily.sans');
	font-size: theme('fontSize.step-0');
	letter-spacing: 0.015em;
}

main {
	--sidebar-content-min-width: 50rem;
}

main:focus {
	border: none;
	outline: none;
	box-shadow: none;
}

img {
	height: auto;
	flex: none;
}

a:focus,
button:focus,
summary:focus {
	border: 0;
	box-shadow: none;
	outline: 0.12em solid theme('colors.primary');
	outline-offset: 0.2em;
}

hr {
	border: none;
	border-top: 1px solid;
	color: theme('colors.divider');
	margin: 1em 0;
	margin: var(--stack-space, 1em) 0;
}

figcaption {
	@apply tracking-wide;
	color: theme('colors.accent');
	font-size: theme('fontSize.step--1');
	margin-top: 1em;
}

fieldset {
	border: none;
	padding: 0;
	margin: 0;
}

legend {
	float: left;
	padding: 0;
}

legend + .clear-both {
	margin: 0;
}

legend + .clear-both + *:not([class*="mt"]) {
	margin-top: theme('spacing.3xs');
}

label {
	display: block;
}

ul[class], ol[class] {
	padding: 0;
}

ul[class] > li {
	list-style: none;
}
