:disabled {
	color: theme('colors.accent');
	opacity: 0.65;
	pointer-events: none;
	mix-blend-mode: luminosity;
}

:disabled * {
	color: theme('colors.accent');
}

html, body {
	overflow-x: -moz-hidden-unscrollable;
	overflow-x: clip;
}

html {
	color-scheme: dark;
	scroll-padding-top: 2em;
}

body {
	background-color: theme('colors.sheet.0');
	color: theme('colors.base');
	font-family: theme('fontFamily.sans');
	font-size: theme('fontSize.step-0');
	letter-spacing: 0.015em;
	line-height: 1.55;
}

#site {
	margin-left: auto;
	margin-right: auto;
	max-width: 120rem;
}

@media screen and (min-width: 120rem) {
	#site {
		gap: theme('spacing.l-2xl');
	}
}

@media screen and (max-width: 80rem) {
	#site {
		gap: 0px;
	}
}

main {
	--sidebar-content-min-width: 50rem;
}

main:focus {
	border: none;
	outline: none;
	box-shadow: none;
}

img {
	height: auto;
	flex: none;
}

a:focus,
button:focus,
summary:focus {
	border: 0;
	box-shadow: none;
	outline: 0.12em solid theme('colors.primary');
	outline-offset: 0.2em;
}

template {
	display: none;
}

ul[class], ol[class] {
	padding: 0;
}

ul[class] > li {
	list-style: none;
}

fieldset {
	border: none;
	padding: 0;
	margin: 0;
}

legend {
	float: left;
	padding: 0;
}

legend + .clear-both {
	margin: 0;
}

legend + .clear-both + *:not([class*="mt"]) {
	margin-top: theme('spacing.3xs');
}

label {
	display: block;
}
