h1, h2, h3 {
	color: theme('colors.bold');
	font-weight: bold;
	line-height: 1;
}

h1 {
	font-size: theme('fontSize.step-5');
	letter-spacing: -0.015em;
	text-transform: uppercase;
}

@media screen and (min-width: 500px) {
	h1 {
		font-stretch: 108%;
	}
}

h2 {
	@apply tracking-wide;
	font-family: theme('fontFamily.fancy');
	font-size: theme('fontSize.step-3');
	padding: 0.5em calc((100% - min(100%, var(--wrapper-max-width))) / 2);
	position: relative;
	text-shadow: 0 0 0.5em theme('colors.divider');
	text-transform: uppercase;
	z-index: 1;
}

h2::before {
	--backdrop-color: theme('colors.backdrop');
	--backdrop-padding: var(--wrapper-padding, theme('spacing.m-xl'));
	background-image: linear-gradient(90deg, var(--backdrop-color), var(--backdrop-color) 0.5em, transparent 0.5em, transparent 0.8em, var(--backdrop-color) 0.8em, var(--backdrop-color) 5em, transparent);
	content: '';
	display: block;
	font-size: theme('fontSize.step-0');
	position: absolute;
	top: 0;
	right: calc(var(--backdrop-padding) * -1);
	bottom: 0;
	left: calc(var(--backdrop-padding) * -1);
	z-index: -1;
}

h2[data-appearance="none"] {
	padding: 0;
	text-shadow: none;
}

h2[data-appearance="none"]::before {
	content: none;
}

h3 {
	@apply leading-tight;
	font-size: theme('fontSize.step-1');
}

h4 {
	@apply leading-snug;
	font-weight: bold;
}

a {
	color: theme('colors.secondary');
	text-decoration-thickness: 0.12em;
	text-decoration-color: theme('colors.secondary');
	text-underline-position: from-font;
}

a[data-underline="on-hover"] {
	color: inherit;
	text-decoration: none;
}

a[data-underline="on-hover"]:hover {
	text-decoration: underline theme('colors.secondary') 0.14em;
}

strong {
	color: theme('colors.primary');
}

i, em {
	font-style: italic;
}

b, strong {
	font-weight: bold;
}

strong > a {
	color: theme('colors.bold');
}

small {
	display: block;
}

small, .small {
	@apply tracking-wide;
	font-size: theme('fontSize.step--1');
}

hr {
	border: none;
	border-top: 1px solid;
	color: theme('colors.divider');
	margin: 1em 0;
	margin: var(--stack-space, 1em) 0;
}

figcaption {
	@apply tracking-wide;
	color: theme('colors.accent');
	font-size: theme('fontSize.step--1');
	margin-top: 1em;
}
