.character-info {
	--content-min-width: 10ch;
	--image-width: 464px;
}

.character-info img {
	filter: hue-rotate(204deg) saturate(9);
}

.character-info > .auto-grid {
	--grid-min-item-size: 8em;
}

.character-info[data-china="true"] img {
	height: auto;
	width: 464px;
	filter: none;
}