.weapon > .sheet {
	margin-top: 68px;
	padding-top: 0;
}

@media screen and (min-height: 40rem) {
	.weapon > .sheet {
		position: -webkit-sticky;
		position: sticky;
		top: 80px;
	}
}

.weapon-header {
	display: flex;
	flex-flow: column nowrap;
	margin-top: -68px;
}

.weapon-img {
	filter: drop-shadow(0 16px 19px rgba(0, 0, 0, 0.3));
	z-index: 1;
}

.weapon-info {
	--gutter: 0.8rem;
}

.weapon-info__title {
	margin-top: theme('spacing.s');
	order: 1;
}

.weapon-info__attribute,
.weapon-info__rating {
	margin-right: theme('spacing.xs-m');
	padding-left: 44px;
	vertical-align: middle;
}

.weapon-info__attribute {
	background-image: var(--attribute-icon);
	background-position-y: center;
	background-repeat: no-repeat;
}

.weapon-info__attribute[data-resonance="damage"] {
	--attribute-icon: url('/assets/images/icon/reso_damage.png');
}

.weapon-info__attribute[data-resonance="support"] {
	--attribute-icon: url('/assets/images/icon/reso_support.png');
}

.weapon-info__attribute[data-resonance="tank"] {
	--attribute-icon: url('/assets/images/icon/reso_tank.png');
}

.weapon-info__attribute[data-element="electric"] {
	--attribute-icon: url('/assets/images/icon/ele_electric.png');
}

.weapon-info__attribute[data-element="fire"] {
	--attribute-icon: url('/assets/images/icon/ele_fire.png');
}

.weapon-info__attribute[data-element="ice"] {
	--attribute-icon: url('/assets/images/icon/ele_ice.png');
}

.weapon-info__attribute[data-element="physical"] {
	--attribute-icon: url('/assets/images/icon/ele_physical.png');
}

.weapon-info__rating {
	position: relative;
}

.weapon-info__rating::before {
	background-image: linear-gradient(-45deg, transparent 15%, rgba(0, 0, 0, 0.85) 15%), linear-gradient(-45deg, transparent 15%, var(--rarity-color) 15%);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 32px 29px, 100%;
	border-radius: 2px;
	content: attr(data-rank);
	display: block;
	font-size: 21.5px;
	font-style: italic;
	height: 31px;
	line-height: 31px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	text-align: center;
	text-transform: uppercase;
	width: 34px;
}

@supports (content: 'x' / 'y') {
	.weapon-info__rating::before {
		content: attr(data-rank) / '';
	}
}

@supports not (content: 'x' / 'y') {
	.weapon-info__rating::before {
		alt: '';
	}
}

[data-element="electric"] > .sheet {
	--border-color: theme('colors.element.electric');
}

[data-element="fire"] > .sheet {
	--border-color: theme('colors.element.fire');
}

[data-element="ice"] > .sheet {
	--border-color: theme('colors.element.ice');
}

[data-element="physical"] > .sheet {
	--border-color: theme('colors.element.physical');
}

.upgrade-materials-list > li + li::before {
	alt: '';
	content: ' + ';
	white-space: break-spaces;
}

@supports (content: 'x' / 'y') {
	.upgrade-materials-list > li + li::before {
		content: ' + ' / '';
	}
}