.changelog {
	color: theme('colors.base' / 90%);
	font-family: theme('fontFamily.mono');
	font-size: theme('fontSize.step--1');
	letter-spacing: normal;
}

.changelog h3 {
	background-color: rgba(0, 0, 0, 0.2);
	color: theme('colors.bold');
	display: inline;
	font-family: inherit;
	font-size: inherit;
	font-weight: 400;
	letter-spacing: inherit;
	padding: 0.1em 0.35em;
	vertical-align: baseline;
}

.changelog h3 + * {
	display: inline;
}

.changelog h3 + *::before {
	content: ' ';
	font-size: theme('fontSize.step-0');
}
