.item-frame[data-variant="matrix"] {
	height: 136px;
	width: 136px;
}

.item-frame[data-variant="matrix"] picture,
.item-frame[data-variant="matrix"] img {
	min-width: 205px;
}

.item-frame[data-variant="matrix"][data-size="s"] {
	height: 68px;
	width: 68px;
}

.item-frame[data-variant="matrix"][data-size="s"] picture,
.item-frame[data-variant="matrix"][data-size="s"] img {
	min-width: 102.5px;
}

.item-frame[data-variant="matrix"][data-size="m"] {
	height: 113px;
	width: 113px;
}

.item-frame[data-variant="matrix"][data-size="m"] picture,
.item-frame[data-variant="matrix"][data-size="m"] img {
	min-width: 170px;
}
