.pros, .cons {
	@apply max-w-copy;
}

.pros > li, .cons > li {
	@apply leading-normal;
	background-position: 0 0.2em;
	background-repeat: no-repeat;
	background-size: 1em;
	padding-left: 1.5em;
}

.pros > li {
	background-image: url('/assets/icons/check-circled-outline.svg');
}

.cons > li {
	background-image: url('/assets/icons/minus-circled-outline.svg');
}

.copy > .pros > li + li,
.copy > .cons > li + li{
	margin-top: theme('spacing.2xs');
}
