.site-bg {
	--position-x: calc(100% + var(--background-offset, 300px) - 5vw);
	--position-x: min(calc(100% + var(--background-offset, 300px) - 5vw), calc(50% + 60rem));
	--position-y: top;
	--position: var(--position-x) var(--position-y);
	height: 100vh;
	height: max(100%, 100vh);
	overscroll-behavior: none;
	position: fixed;
	width: 100vw;
	z-index: -1;
}

.site-bg img {
	display: none;
}

.site-bg.legacy {
	background-position: var(--position);
	background-repeat: no-repeat;
}

@supports (object-fit: none) {
	.site-bg img {
		display: block;
		height: 100%;
		object-fit: none;
		object-position: var(--position);
		position: relative;
		width: 100%;
	}

	.site-bg.legacy {
		display: none;
	}
}
