.skill-summary {
	--gutter: 0.1em;
	width: 100%;
}

.skill-summary > :first-child {
	@apply leading-snug;
	display: block;
	flex-basis: 15em;
	flex-grow: 1;
	margin-right: 2em;
}

.skill-summary kbd {
	line-height: revert;
}
