.weapon {
	position: relative;
	z-index: 1;
}

.weapon.wrapper {
	--wrapper-padding: 0;
	max-width: 100%;
}

.weapon > .sheet {
	margin-top: 68px;
	padding-top: 0;
}

.weapon-header {
	margin-top: -68px;
}

.weapon-stats {
	--gutter: 0.8rem;
}

.weapon-img {
	filter: drop-shadow(0 16px 19px rgba(0, 0, 0, 0.3));
	z-index: 1;
}

.weapon-stat {
	margin-right: theme('spacing.xs-m');
}

.weapon-info__title {
	display: block;
	font-size: theme('fontSize.step-2');
	margin-top: theme('spacing.s');
}

.weapon-info__icon {
	display: inline-block;
	margin-right: 10px;
	vertical-align: middle;
}

.weapon-info__rating {
	background-image: linear-gradient(-45deg, transparent 15%, var(--rarity-color) 15%);
	border-radius: 2px;
	font-size: 1.35rem;
	font-style: italic;
	height: 31px;
	line-height: 31px;
	padding: 0;
	position: relative;
	text-align: center;
	width: 34px;
}

.weapon-info__rating > * {
	position: relative;
	z-index: 1;
}

.weapon-info__rating::before {
	content: '';
	background-image: linear-gradient(-45deg, transparent 15%, rgba(0, 0, 0, 0.85) 15%);
	position: absolute;
	top: 1px;
	right: 1px;
	bottom: 1px;
	left: 1px;
}

.weapon-stat .infobite {
	display: inline-block;
	vertical-align: middle;
}

[data-element="electric"] > .sheet {
	--border-color: theme('colors.element.electric');
}

[data-element="fire"] > .sheet {
	--border-color: theme('colors.element.fire');
}

[data-element="ice"] > .sheet {
	--border-color: theme('colors.element.ice');
}

[data-element="physical"] > .sheet {
	--border-color: theme('colors.element.physical');
}
