.grid {
  display: grid;
  grid-template-columns: repeat(
		var(--grid-placement, auto-fill),
		minmax(var(--grid-min-item-size, 15rem), 1fr)
  );
  gap: var(--gutter, theme('spacing.s'));
}

.grid[data-rows='masonry'] {
  grid-template-rows: masonry;
  align-items: start;
}

.grid[data-layout='50-50'] {
  --grid-placement: auto-fit;
  --grid-min-item-size: clamp(15rem, 50vw, 25rem);
}
