.grid {
	--grid-column-count: 4;
	--gap-count: calc(var(--grid-column-count) - 1);
	--total-gap-width: calc(var(--gap-count) * var(--gutter));
	--grid-max-item-size: calc((100% - var(--total-gap-width)) / var(--grid-column-count));
	--grid-min-item-size: 10rem;
	--gutter: theme('spacing.s');
	display: grid;
	gap: var(--gutter);
	grid-template-columns: repeat(auto-fill, minmax(max(var(--grid-min-item-size), var(--grid-max-item-size)), 1fr));
}

.grid[data-columns="2"] {
	--grid-column-count: 2;
}

.grid[data-columns="3"] {
	--grid-column-count: 3;
}
