.profile {
	--content-min-width: 30ch;
	align-items: center;
	display: flex;
	flex-flow: row wrap;
	gap: var(--gutter, theme('spacing.s-l'));
}

.profile > :first-child {
	flex-basis: var(--image-width, auto);
	flex-grow: 1;
}

.profile > :first-child > img {
	flex: none;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

.profile > :last-child {
	flex-grow: var(--content-proportional-size, 4);
	max-width: 100%;
	width: var(--content-min-width);
}

.profile[data-direction="rtl"] {
	flex-direction: row-reverse;
}

.profile[data-ratio="1-1"] {
	--content-proportional-size: 1;
	--content-initial-width: 50%;
}

.profile[data-ratio="1-2"] {
	--content-proportional-size: 2;
}

.profile[data-ratio="1-3"] {
	--content-proportional-size: 3;
}

.profile[data-ratio="1-5"] {
	--content-proportional-size: 5;
}

.profile[data-ratio="1-8"] {
	--content-proportional-size: 8;
}

.profile[data-ratio="1-999"] {
	--content-proportional-size: 999;
}
