.switcher {
	--switch-threshold: 30rem;
	--switch-gap: theme('spacing.s-l');
	display: flex;
	flex-wrap: wrap;
	gap: var(--switch-gap);
}

.switcher > * {
	flex-grow: 1;
	flex-basis: calc((var(--switch-threshold) - 100%) * 999);
}
