button, .button {
	--button-color: theme('colors.primary');
	align-items: center;
	background-color: var(--button-color);
	display: inline-flex;
	color: theme('colors.sheet.0');
	cursor: pointer;
	font-family: theme('fontFamily.fancy');
	font-weight: bold;
	gap: 0.7em;
	justify-content: center;
	line-height: 1;
	padding: 0.7em 1em;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}

button[data-variant~="full-width"],
.button[data-variant~="full-width"] {
	display: block;
}

button[data-variant~="ghost"],
.button[data-variant~="ghost"] {
	background: none;
	border: 0.17em solid var(--button-color);
	color: var(--button-color);
}

button[data-color="secondary"],
.button[data-color="secondary"] {
	--button-color: theme('colors.secondary');
}

button[data-color="secondary"][data-variant~="ghost"],
.button[data-color="secondary"][data-variant~="ghost"] {
	color: theme('colors.base');
}

button > svg,
button > .icon,
.button > svg,
.button > .icon {
	flex-shrink: 0;
	height: 1.15em;
	width: auto;
}
