.card {
	align-items: center;
	display: flex;
	flex-flow: column nowrap;
	position: relative;
}

.card a::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.card.sheet a:hover::before {
	background-image: linear-gradient(135deg, theme(colors.ring) 20%, transparent 130%);
}
