.changelog {
	@apply text-base/80;
	background-color: theme('colors.sheet.2');
	font-family: theme('fontFamily.mono');
	font-size: theme('fontSize.step--1');
	letter-spacing: normal;
	padding: theme('spacing.s-m');
}

.popover.changelog {
	box-sizing: border-box;
}

.changelog h3 {
	@apply bg-black/20 text-white/90;
	display: inline;
	font-family: inherit;
	font-size: inherit;
	font-weight: 400;
	letter-spacing: inherit;
	padding: 0.1em 0.35em;
	vertical-align: baseline;
}

.changelog h3 + * {
	display: inline;
}

.changelog h3 + *::before {
	content: ' ';
	font-size: theme('fontSize.step-0');
}
