.china-badge {
	@apply shadow-md;
	background-image: linear-gradient(-45deg, transparent 15%, #e72e37 15%);
	border-radius: 2px;
	color: #fff;
	display: inline-block;
	font-family: theme('fontFamily.fancy');
	font-size: theme('fontSize.step--1');
	line-height: 1;
	letter-spacing: 0.05em;
	margin-right: 0.3ch;
	padding: 0.2em 0.36em;
	text-decoration: none;
	text-shadow: 0 0 0.5em rgba(0, 0, 0, 0.6);
	vertical-align: middle;
}
