.chip {
	@apply bg-accent/14 shadow-md;
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	box-shadow: var(--tw-shadow), inset 0 0 0 1px theme('colors.glare');
	display: inline-block;
	font-weight: bold;
	line-height: inherit;
	padding: 0.16em 0.46em;
	position: relative;
}

a.chip, a.chip:hover {
	text-decoration-color: currentColor;
}

a.chip:hover, summary.chip:hover {
	@apply bg-accent/20;
}

summary.chip {
	display: list-item;
}

/* a.chip:focus,
summary.chip:focus,
details[open] > summary.chip:focus {
	background-color: theme('colors.primary');
	color: theme('colors.sheet.0');
	outline: none;
} */

/* a.chip:focus::before,
summary.chip:focus::before,
details[open] > summary.chip::before {
	border-color: rgba(255, 255, 255, 0.2);
} */

/* details[open] > summary.chip {
	background-color: theme('colors.base');
	color: theme('colors.sheet.0');
	outline: none;
} */

.chip[data-variant~="knockout"] {
	background-color: theme('colors.base');
	color: theme('colors.sheet.0');
	letter-spacing: normal;
}

.chip[data-variant~="fadeout"]::before {
	border: none;
}

a.chip[data-variant~="knockout"]:hover {
	background-color: #fff;
}

a.chip[data-variant~="knockout"]:focus {
	background-color: #fff;
	/* outline: 0.12em solid theme('colors.primary'); */
}

.chip[data-variant~="fadeout"] {
	background: transparent;
	background-image: linear-gradient(90deg, theme('colors.sheet.2'), transparent 130%), linear-gradient(90deg, rgba(255, 255, 255, 0.1), transparent);
}

.chip[data-variant~="fadeout"]::before {
	border: none;
}

.chip[data-variant~="blackout"] {
	@apply bg-sheet-0;
	border: 0;
	border-bottom: 0.15em solid var(--border-color, currentColor);
	box-shadow: var(--tw-shadow);
	padding-left: 0.5em;
	padding-right: 0.5em;
}

.chip[data-wrap-length] {
	padding-top: 0.3em;
	padding-bottom: 0.3em;
	line-height: 1.2;
}

.chip[data-wrap-length="s"] {
	max-width: 15ch;
}
