.copy {
	--stack-space: theme('spacing.m');
}

.copy h2 {
	--stack-space: theme('spacing.2xl');
}

.copy h3 {
	--stack-space: theme('spacing.l');
}

.copy h2 + *, .copy h3 + * {
	--stack-space: 1em;
}

.copy figure:not([class*="stack-space"]),
.copy figure:not([class*="stack-space"]) + * {
	--stack-space: theme('spacing.l');
}
