.embed {
	height: 0;
	overflow: hidden;
	padding-bottom: 56.25%;
	position: relative;
}

.embed iframe,
.embed object,
.embed embed {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100%;
}
