.new-badge {
	@apply shadow-lg;
	background-color: theme('colors.primary');
	border: 0.1em solid #fff;
	border-radius: 1px;
	color: theme('colors.sheet.0');
	font-size: theme('fontSize.step--2');
	font-weight: bold;
	outline: 0.2em solid;
	text-align: center;
	text-transform: uppercase;
}
