.page-header {
	--region-space: theme('spacing.xl-2xl');
	align-items: flex-start;
	display: flex;
	flex-flow: column;
	justify-content: flex-end;
	min-height: 280px;
	position: relative;
	text-shadow: 0 0 0.1em theme('colors.sheet.0'),
		0 0 0.2em theme('colors.sheet.0'),
		0 0 0.4em theme('colors.sheet.0'),
		0 0 0.6em theme('colors.sheet.0'),
		0 0 1em theme('colors.sheet.0'),
		0 0 3em theme('colors.sheet.0'),
		0 0 5em theme('colors.sheet.0');
}

.page-header::before {
	background-image: linear-gradient(90deg, theme('colors.sheet.0') 20%, transparent);
	content: '';
	position: absolute;
	top: -20rem;
	right: 0;
	bottom: 0;
	left: 0;
	mix-blend-mode: darken;
	z-index: -1;
}

.page-header__inner {
	width: 100%;
}

.page-header[data-variant="item"] .page-header__inner {
	display: flex;
	flex-flow: column-reverse nowrap;
	gap: var(--stack-space, 1em);
}

.page-header h1 {
	line-height: 0.88;
}

.page-header h1 + * {
	line-height: 1.25;
}

.page-header .chip {
	text-shadow: none;
}
