.reel-instructions {
	@apply tracking-wide;
	align-items: center;
	color: theme('colors.primary');
	display: flex;
	flex-wrap: nowrap;
	font-family: theme('fontFamily.fancy');
	font-size: theme('fontSize.step--1');
	justify-content: center;
	text-transform: uppercase;
}

.reel-instructions__label {
	line-height: 1;
	margin: 0 1em;
	text-align: center;
}