.sheet-wrapper {
	--wrapper-padding: 0;
	max-width: none;
}

.sheet {
	--border-color: theme('colors.primary');
	@apply shadow-xl;
	background-color: theme('colors.sheet.2');
	border-top: 0.3em solid var(--border-color);
	box-sizing: content-box;
	padding: theme('spacing.s-l');
}

.sheet[data-layer="0"] {
	@apply bg-sheet-0/80;
	box-shadow: none;
}

.sheet[data-border-color="text"] {
	--border-color: currentColor;
}

.sheet[data-border-color="secondary"] {
	--border-color: theme('colors.secondary');
}

.sheet[data-border-color="tertiary"] {
	--border-color: theme('colors.tertiary');
}

.sheet[data-border="none"] {
	border: 0;
}

.sheet[data-border="left"] {
	border: 0;
	border-left: 0.3em solid var(--border-color);
}
