.sheet-wrapper {
	--wrapper-padding: 0;
	max-width: none;
}

.sheet {
	@apply shadow-xl;
	--border-color: theme('colors.primary');
	background-color: theme('colors.sheet.2');
	border-top: 0.3em solid var(--border-color);
	box-shadow: var(--tw-shadow), inset 0 0 0 1px theme('colors.glare');
	box-sizing: content-box;
	padding: theme('spacing.s-l');
	position: relative;
}

/* @supports (pointer-events: none) {
	.sheet::before {
		@apply border border-solid border-accent/5;
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		pointer-events: none;
	}
} */

.sheet[data-layer="0"] {
	@apply bg-sheet-0/80 shadow-inner;
}

.sheet[data-layer="0"]::before {
	content: none;
}

.sheet[data-layer="1"] {
	@apply shadow-inner;
	background-color: theme('colors.sheet.1');
	border: none;
	box-shadow: var(--tw-shadow), 0 0 2px theme('colors.glare');
}

.sheet[data-layer="3"] {
	background-color: theme('colors.sheet.3');
}

.sheet[data-border-color="text"] {
	--border-color: currentColor;
}

.sheet[data-border-color="secondary"] {
	--border-color: theme('colors.secondary');
}

.sheet[data-border-color="tertiary"] {
	--border-color: theme('colors.tertiary');
}

.sheet[data-border="none"] {
	border: 0;
}

.sheet[data-border="left"] {
	border: 0;
	border-left: 0.3em solid var(--border-color);
}
