summary + table {
	margin-top: 0;
}

table {
	border-spacing: 0;
	overflow-x: auto;
	text-align: left;
}

th {
	font-family: theme('fontFamily.fancy');
	letter-spacing: normal;
}

th, td {
	border-top: 1px solid theme('colors.divider');
	padding: theme('spacing.xs') theme('spacing.s-l');
}

tr > :first-child {
	padding-left: theme('spacing.xs-s');
}

tr > :last-child {
	padding-right: theme('spacing.xs-s');
}

thead th {
	@apply bg-sheet-0/80;
	border-top-color: theme('colors.glare');
	color: theme('colors.bold');
	font-size: theme('fontSize.step--1');
	letter-spacing: 0.075em;
	line-height: 1.25;
	text-transform: uppercase;
	vertical-align: bottom;
}

thead + tbody > tr:first-child > th,
thead + tbody > tr:first-child > td {
	@apply border-base/90;
	border-top-width: 2px;
}

thead.visually-hidden + tbody > tr:first-child > th,
thead.visually-hidden + tbody > tr:first-child > td {
	@apply border-base/90;
	border-top: none;
}

/* tbody > tr:last-child > th,
tbody > tr:last-child > td {
	padding-bottom: 0;
} */

[data-head-color="transparent"] thead th {
	background-color: inherit;
}

/* tbody tr:nth-of-type(2n) > td,
tbody tr:nth-of-type(2n) > th {
	@apply bg-sheet-0/80;
}

tbody tr:nth-of-type(2n+1) > td,
tbody tr:nth-of-type(2n+1) > th {
	background-color: theme('colors.sheet.1');
} */

table p {
	min-width: 23ch;
}

.wrapper table {
	min-width: var(--wrapper-max-width, 46rem);
	min-width: min(100%, var(--wrapper-max-width, 46rem));
}

details table {
	min-width: 100%;
}

/* [data-stripe="even"] thead th {
	background-color: theme('colors.sheet.1');
}

[data-stripe="even"] tbody tr:nth-of-type(2n) > td,
[data-stripe="even"] tbody tr:nth-of-type(2n) > th {
	background-color: theme('colors.sheet.1');
}

[data-stripe="even"] tbody tr:nth-of-type(2n+1) > td,
[data-stripe="even"] tbody tr:nth-of-type(2n+1) > th {
	@apply bg-sheet-0/80;
} */
