.weapon {
	--image-width: 128px;
	z-index: 1;
}

.weapon-info .grid {
	--grid-column-count: 2;
	--grid-min-item-size: 9rem;
	--gutter: theme('spacing.xs');
}

.weapon-stat {
	display: flex;
	align-items: center;
	gap: theme('spacing.2xs');
}

.weapon-stat img {
	display: inline-block;
}

[data-element="electric"] {
	--border-color: theme('colors.element.electric');
}

[data-element="fire"] {
	--border-color: theme('colors.element.fire');
}

[data-element="ice"] {
	--border-color: theme('colors.element.ice');
}

[data-element="physical"] {
	--border-color: theme('colors.element.physical');
}
