.weapon-stat {
	display: flex;
	align-items: center;
	gap: theme('spacing.2xs');
}

.weapon-stat img {
	display: inline-block;
}

.weapon-stat__title {
	@apply text-base/90;
	font-family: theme('fontFamily.sans');
	font-size: theme('fontSize.step--1');
	font-weight: normal;
	letter-spacing: 0.035em;
	line-height: 1.1;
}

.weapon-stat__value {
	@apply text-white/90;
	display: block;
	font-family: theme('fontFamily.fancy');
	letter-spacing: 0.025em;
	line-height: 1.1;
	text-transform: uppercase;
}
