.reel[tabindex]:focus-visible {
	border: 0;
	outline: 0.1em solid theme('colors.primary');
	z-index: 1;
}

.reel[data-draggable] *:focus:not(:focus-visible) {
	outline: none;
}

.reel[data-state="dragging"],
.reel[data-state="dragging"] * {
	user-select: none;
}

.reel[data-state="dragging"] a:hover {
	text-decoration: none;
}

.reel-instructions[data-state="visible"] {
	display: flex;
}
