<article class="weapon" data-element="{{ weapon.element }}">
	<div class="sheet stack p-s" data-border="top">
		<h3 class="weapon-header">
			{% image 'src/assets/images/wep/' + page.fileSlug + '.png', name + '’s weapon', 'weapon-img' %}
			<span class="weapon-info__title">{{ weapon.name }}</span>
		</h3>
		<div class="stack with-rule sheet p-s" data-layer="1">
			<div class="weapon-info cluster">
				<dl class="cluster">
					<div class="weapon-info__attribute infobite" data-resonance="{{ weapon.resonance }}">
						<dt>Resonance</dt>
						<dd>{{ weapon.resonance | capitalize }}</dd>
					</div>
					<div class="weapon-info__attribute infobite" data-element="{{ weapon.element }}">
						<dt>Element</dt>
						<dd>{{ string.element[weapon.element].name | capitalize }}</dd>
					</div>
				</dl>
				<dl class="cluster">
					{% set shatterRating = helpers.getWeaponRating(weapon.shatter, string.weaponRating) %}
					<div class="weapon-info__rating infobite highlight-rarity" data-rarity={{ shatterRating.rarityColor }} data-rank={{ shatterRating.rank }}>
						<dt>Shatter</dt>
						<dd>{{ weapon.shatter.toFixed(2) }}</dd>
					</div>
					{% set chargeRating = helpers.getWeaponRating(weapon.charge, string.weaponRating) %}
					<div class="weapon-info__rating infobite highlight-rarity" data-rarity={{ chargeRating.rarityColor }} data-rank={{ chargeRating.rank }}>
						<dt>Charge</dt>
						<dd>{{ weapon.charge.toFixed(2) }}</dd>
					</div>
				</dl>
			</div>
			<div>
				{% include "partials/simulacrum/materials.html" %}
			</div>
		</div>
	</div>
</article>
