<h3>Advancement</h3>
<div class="table-container highlight-bold">
	<table>
		<thead>
			<tr>
				<th scope="col">Stars</th>
				<th scope="col">Effect</th>
			</tr>
		</thead>
		<tbody>
			{% for item in content.awakening %}
			<tr>
				<th scope="row" class="text-primary whitespace-nowrap">
					{{ loop.index }}&nbsp;★ <span class="visually-hidden"> star{{ 's' if loop.index > 1 }}</span>
				</th>
				<td class="stack">{{ item | markdown | safe }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
