<h3>Weapon Effect</h3>
<dl class="highlight-bold stack copy">
	<dt class="h4 text-primary">{{ string.element[weapon.element].effectName }}</dt>
	{% if 'rarity' + rarity in string.element[weapon.element].description %}
	<dd>{{ string.element[weapon.element].description['rarity' + rarity] | markdown | safe }}</dd>
	{% else %}
	<dd>{{ string.element[weapon.element].description | markdown | safe }}</dd>
	{% endif %}
	{% if weapon.exclusiveEffect %}
	{% for effect in content.wepEffects %}
	<dt class="h4 text-primary">{{ effect.name }}</dt>
	<dd>{{ effect.effect | markdown | safe }}</dd>
	{% endfor %}
	{% endif %}
</dl>