.big-table, .wrapper > .big-table {
	--wrapper-padding: 0;
	overflow-x: auto;
}

.big-table > table {
	width: auto;
}

.big-table[data-width="stretch"] {
	max-width: 100%;
}

.big-table[data-width="stretch"] > table {
	width: 100%;
}

.big-table > table p {
	min-width: 25ch;
}

summary + .big-table {
	margin-top: 0;
}
