.copy {
	--stack-space: theme('spacing.m');
}

.copy > :where(figure, figure + *, hr, hr + *) {
	--modified-stack-space: theme('spacing.xl');
}

.copy > :where(aside, aside + *) {
	--modified-stack-space: theme('spacing.l');
}

.copy > :where(aside, figure, hr) {
	--stack-space: var(--modified-stack-space);
}

.copy > :where(aside, figure, hr):not(:last-child) {
	margin-bottom: var(--modified-stack-space);
}

:where(.copy > aside, .copy > figure) > * {
	--stack-space: theme('spacing.m');
}

.copy > :where(summary + :is(h2, h3, h4, p)) {
	--stack-space: 1.32em;
}

.copy > :where(h2) {
	--stack-space: theme('spacing.2xl');
}

.copy > :where(h3) {
	--stack-space: theme('spacing.l-xl');
}

.copy > :where(h4) {
	--stack-space: theme('spacing.l')
}

.copy > :where(h2 + *) {
	margin-top: theme('spacing.m');
}

.copy > :where(h2[data-appearance="none"] + *) {
	margin-top: 1em;
}

.copy > :where(h3 + *) {
	margin-top: theme('spacing.xs');
}

.copy > :where(h4 + *) {
	margin-top: theme('spacing.2xs');
}

.copy > ul:not([class]) > li + li,
.copy > ol:not([class]) > li + li {
	margin-top: theme('spacing.2xs');
}