.stack > * + .has-h2 {
	margin-top: theme('fontSize.step-3');
}

.stack > * + .has-h3 {
	margin-top: theme('fontSize.step-1');
}

.copy.stack > * + .has-h2 {
	margin-top: theme('spacing.2xl');
}

.copy.stack > * + .has-h3 {
	margin-top: theme('spacing.xl');
}

.copy.stack > * + .has-h4 {
	margin-top: theme('spacing.l');
}

.copy > .has-h2 + *:not([class*="mt-"]) {
	margin-top: 1em;
}

.copy > .has-h3 + *:not([class*="mt-"]) {
	margin-top: theme('spacing.xs');
}

.copy > .has-h4 + *:not([class*="mt-"]) {
	margin-top: theme('spacing.2xs');
}
