{% edge %}
<div>
	<label for="elemental-weakness">Enemy’s Elemental Weakness</label>
	<input type="range" name="elemental-weakness" id="elemental-weakness" list="elemental-weakness-list" min="0" max="3" step="1" value="{{ eleventy.edge.cookies.elementalWeakness | default(0) }}">
	<datalist id="elemental-weakness-list">
		<option value="0" label="0%">0%</option>
		<option value="1" label="30%">35%</option>
		<option value="2" label="50%">50%</option>
		<option value="3" label="75%">75%</option>
	</datalist>
</div>
{% endedge %}
