{% edge %}
<div>
	<label for="resonance">Resonance</label>
	<select name="resonance" id="resonance">
		<option value="">Tank</option>
		<optgroup label="Balanced">
			<option value="balancedSolo" {{ 'selected' if eleventy.edge.cookies.resonance == 'balancedSolo' }}>Balanced - Solo</option>
			<option value="balancedGroup" {{ 'selected' if eleventy.edge.cookies.resonance == 'balancedGroup' }}>Balanced - Group</option>
		</optgroup>
		<optgroup label="Attacker">
			<option value="attackerSolo" {{ 'selected' if eleventy.edge.cookies.resonance == 'attackerSolo' }}>Attacker - Solo</option>
			<option value="attackerGroup" {{ 'selected' if eleventy.edge.cookies.resonance == 'attackerGroup' }}>Attacker - Group</option>
		</optgroup>
	</select>
</div>
{% endedge %}
