<fieldset class="sheet stack p-s-m" data-layer="3" data-border="none">
	<legend class="text-step-1 font-bold text-bold">Weapon Buffs</legend>
	<div class="clear-both" role="presentation"></div>
	<div class="flex-grid mt-xs gap-m-l">
		<fieldset class="flex-grow-[999]">
			<legend class="label">Awakening Buffs</legend>
			<div class="clear-both" role="presentation"></div>
			<div class="cluster gap-xs">
				<label>
					<input class="visually-hidden" type="checkbox" name="tsubasa1">
					<span class="chip">Tsubasa&#8199;<span class="text-primary">1&#8201;★</span></span>
				</label>
				<label>
					<input class="visually-hidden" type="checkbox" name="tsubasa6">
					<span class="chip">Tsubasa&#8199;<span class="text-primary">6&#8201;★</span></span>
				</label>
				<label>
					<input class="visually-hidden" type="checkbox" name="claudia1">
					<span class="chip">Claudia&#8199;<span class="text-primary">1&#8201;★</span></span>
				</label>
				<label>
					<input class="visually-hidden" type="checkbox" name="marc3">
					<span class="chip">Marc&#8199;<span class="text-primary">3&#8201;★</span></span>
				</label>
			</div>
		</fieldset>
		<div>
			<label for="bonus-weapon-effect">Bonus Weapon Effect</label>
			<select id="bonus-weapon-effect" name="bonus-weapon-effect">
				<option value="">None</option>
				<option value="baiyuekui">Baiyuekui</option>
				<option value="frigg">Frigg</option>
			</select>
		</div>
	</div>
</fieldset>
