aside {
	@apply drop-shadow-2xl;
	background-image: linear-gradient(135deg,
		theme('colors.sheet.3') calc(100% - 1em),
		transparent calc(100% - 1em)
	);
	border-left: 0.3em solid theme('colors.secondary');
	color: theme('colors.bold');
	font-weight: bold;
	line-height: 1.5;
	margin-left: calc(-1 * var(--wrapper-padding));
	max-width: 56rem;
	padding: theme('spacing.s-l') theme('spacing.m-l') theme('spacing.s-l') calc(var(--wrapper-padding) - 0.3em);
}
