button, .button {
	--__default-button-color: theme('colors.primary');
	--__default-button-hover-color: theme('colors.primary-glare');
	align-items: center;
	background-color: transparent;
	box-shadow: inset 0 0 0 1px var(--button-color, var(--__default-button-color));
	border: 0;
	color: var(--button-color, var(--__default-button-color));
	cursor: pointer;
	display: inline-flex;
	font-weight: bold;
	gap: 1ch;
	justify-content: center;
	line-height: 1;
	padding: 0.8em 1em;
	text-decoration: none;
	text-transform: uppercase;
	-webkit-user-select: none;
	user-select: none;
}

button[data-color="secondary"],
.button[data-color="secondary"] {
	--button-color: theme('colors.secondary');
	--button-hover-color: theme('colors.secondary-glare');
	color: theme('colors.bold');
}

button[data-color="tertiary"],
.button[data-color="tertiary"] {
	--button-color: theme('colors.tertiary');
	--button-hover-color: theme('colors.tertiary-glare');
}

button:hover, .button:hover {
	--button-color: var(--button-hover-color, var(--__default-button-hover-color));
	background-color: theme('colors.glare');
}

button:active, .button:active {
	--button-color: theme('colors.bold');
}

button:focus, .button:focus {
	border: 0;
	outline: 0.12em solid theme('colors.bold');
	outline-offset: 0.2em;
}

/* purgecss ignore */
button > svg,
button > .icon,
.button > svg,
.button > .icon {
	flex-shrink: 0;
	height: 1.15em;
	width: auto;
}
