.infobite {
	@apply tracking-wide;
}

.infobite > :first-child {
	color: theme('colors.accent');
	font-family: theme('fontFamily.sans');
	font-size: theme('fontSize.step--1');
	font-weight: normal;
	line-height: 1.2;
}

.infobite > :last-child {
	color: theme('colors.bold');
	display: block;
	font-family: theme('fontFamily.fancy');
	line-height: 1.1;
	text-transform: uppercase;
}