table {
	--cell-padding-x: theme('spacing.s');
	--cell-padding-y: theme('spacing.2xs');
	@apply leading-normal text-step--0.5 tracking-wide;
	border-collapse: collapse;
	border-spacing: 0;
	min-width: min(100%, theme('width.copy'));
	text-align: left;
	width: min(100%, theme('width.copy'));
}

.table-container {
	overflow-x: auto;
}

summary + table,
summary + .table-container {
	margin-top: 0;
}

table[data-padding="loose"] {
	--cell-padding-y: theme('spacing.2xs-xs');
	--cell-padding-x: theme('spacing.s-m');
}

thead {
	@apply bg-sheet-0/80 text-step--1.5;
	letter-spacing: 0.07em;
	line-height: 1.25;
}

tr {
	border-top: 1px solid theme('colors.divider');
}

thead tr {
	border-top-color: theme('colors.glare');
}

thead + tbody > tr:first-child {
	@apply border-base/90;
	border-top-width: 2px;
}

thead.visually-hidden + tbody > tr:first-child {
	@apply border-base/90;
	border-top: none;
}

td,
th {
	padding: var(--cell-padding-y) var(--cell-padding-x);
}

th {
	color: theme('colors.bold' / 90%);
	font-family: theme('fontFamily.fancy');
}

thead th {
	--cell-padding-y: theme('spacing.xs');
	max-width: 16ch;
	text-transform: uppercase;
	vertical-align: bottom;
}

td:first-child,
th:first-child {
	padding-left: theme('spacing.2xs-xs');
}

td:last-child,
th:last-child {
	padding-right: theme('spacing.2xs-xs');
}

details table,
.copy > summary ~ table,
.copy > summary ~ .big-table > table {
	min-width: 100%;
}

table p {
	max-width: 38rem;
}