[data-bg="weila"] {
	--background-offset: 500px;
}

[data-bg="huodong_meishi_guo"] {
	background-position: 100% bottom;
}

[data-bg="claudia2"] {
	background-position-y: center;
}

[data-bg="echo"] {
	--background-offset: 400px;
}

[data-bg="fuwasaki"] {
	--background-offset: 370px;
}

.site-bg[data-category="relics"] {
	--background-offset: 150px;
}
