[data-bg="home"] {
	--background-offset: 500px;
}

[data-bg="food"] {
	background-position: 100% bottom;
}

[data-bg="guides"] {
	background-position-y: center;
}

[data-bg="relics"] {
	--background-offset: 150px;
	background-position-y: center;
}

[data-bg="echo"] {
	--background-offset: 400px;
}

[data-bg="fuwasaki"] {
	--background-offset: 370px;
}
