.site-bg[data-category="relics"] {
	--background-offset: 150px;
}

[data-bg="weila"] {
	--background-offset: 500px;
	background-position-y: max(0px, calc(100vh - 1024px));
}

[data-bg="huodong_meishi_guo"] {
	--background-offset: 5vw;
	background-position-y: bottom;
	background-position-y: max(0px, calc(100vh - 342px));
}

[data-bg="claudia2"] {
	background-position-y: center;
}

[data-bg="baiyuekui+marc"] {
	--background-offset: 500px;
	background-position-y: clamp(-140px, calc(100vh - 1386px), 0px);
}

[data-bg="baiyuekui"] {
	--background-offset: 380px;
}

[data-bg="claudia"] {
	--background-offset: 350px;	
}

[data-bg="coco-ritter"] {
	--background-offset: 400px;
}

[data-bg="crow"] {
	--background-offset: 340px;
}

[data-bg="echo"] {
	--background-offset: 400px;
}

[data-bg="fuwasaki"] {
	--background-offset: 370px;
}

[data-bg="pepper"] {
	--background-offset: 400px;
}