:disabled {
	cursor: not-allowed;
}

::selection {
	background-color: theme('colors.bold');
	color: theme('colors.sheet.0')
}

html,
body {
	overflow-x: -moz-hidden-unscrollable;
	overflow-x: clip;
}

html {
	color-scheme: dark;
	scroll-padding-top: 2em;
}

body {
	background-color: theme('colors.sheet.0');
	color: theme('colors.base');
	font-family: theme('fontFamily.sans');
	font-size: theme('fontSize.step-0');
	letter-spacing: 0.024em;
	line-height: 1.55;
}

#site {
	--sidebar-content-min-width: 50rem;
	background-image: linear-gradient(90deg,
			theme('colors.sheet.0 / 95%'),
			theme('colors.sheet.0 / 65%') 70rem,
			transparent 120rem);
	min-height: inherit;
	max-width: 120rem;
}

#site::after {
	content: '';
	flex-basis: 20rem;
	flex-grow: 1;
}

.site-content > * {
	max-width: 72rem;
}

main:focus {
	border: none;
	outline: none;
	box-shadow: none;
}

main > * + * {
	margin-top: theme('spacing.m-xl');
}

img {
	height: auto;
	font-size: theme('fontSize.step-0');
	flex: none;
}

picture {
	flex: none;
}

figure:not([data-border="none"]) > img,
figure:not([data-border="none"]) > picture,
figure:not([data-border="none"]) > video,
figure:not([data-border="none"]) > iframe {
	@apply shadow-lg shadow-primary/10;
	box-shadow: 0 0 0 1px theme('colors.primary' / 70%), var(--tw-shadow);
}

a:focus,
summary:focus {
	border: 0;
	outline: 0.12em solid theme('colors.primary');
	outline-offset: 0.2em;
}

fieldset {
	border: none;
	padding: 0;
	margin: 0;
}

fieldset:disabled * {
	color: theme('colors.accent');
	opacity: 0.65;
	mix-blend-mode: luminosity;
	pointer-events: none;
}

legend {
	float: left;
	padding: 0;
}

legend + .clear-both {
	margin: 0;
}

legend + .clear-both + *:not([class*="mt"]) {
	margin-top: theme('spacing.3xs');
}

label {
	display: block;
}
