h1,
.h1,
h2,
.h2,
h3,
.h3 {
	color: theme('colors.bold');
	font-weight: bold;
	line-height: 1;
}

h2,
.h2,
h3,
.h3 {
	max-width: 60rem;
}

h1,
.h1 {
	font-size: theme('fontSize.step-5');
	letter-spacing: -0.015em;
	text-transform: uppercase;
	text-wrap: balance;
}

@media screen and (min-width: 32rem) {

	h1,
	.h1 {
		font-stretch: 108%;
	}
}

h2,
.h2 {
	@apply tracking-wide;
	font-family: theme('fontFamily.fancy');
	font-size: theme('fontSize.step-3');
	/* padding: 0.5em calc((100% - min(100%, var(--wrapper-max-width))) / 2); */
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	position: relative;
	text-transform: uppercase;
	z-index: 1;
}

h2::before {
	--backdrop-color: theme('colors.backdrop');
	--backdrop-padding: var(--wrapper-padding, theme('spacing.m-xl'));
	background-image: linear-gradient(90deg, var(--backdrop-color), var(--backdrop-color) 0.5em, transparent 0.5em, transparent 0.8em, var(--backdrop-color) 0.8em, var(--backdrop-color) 5em, transparent);
	content: '';
	display: block;
	font-size: theme('fontSize.step-0');
	position: absolute;
	top: 0;
	right: calc(var(--backdrop-padding) * -1);
	bottom: 0;
	left: calc(var(--backdrop-padding) * -1);
	z-index: -1;
}

h2[data-appearance="none"] {
	padding: 0;
}

h2[data-appearance="none"]::before {
	content: none;
}

h3,
.h3 {
	@apply leading-tight;
	font-size: theme('fontSize.step-1');
}

h4,
.h4 {
	@apply leading-snug max-w-copy;
	color: theme('colors.bold');
	font-weight: bold;
}

a {
	color: theme('colors.secondary');
	text-decoration-thickness: 1px;
	text-decoration-color: theme('colors.secondary');
	text-underline-position: under;
}

a:hover {
	text-decoration-thickness: 2px;
}

a[data-underline="on-hover"] {
	text-decoration: none;
}

a[data-underline="on-hover"]:hover {
	text-decoration: underline theme('colors.secondary') 2px;
}

strong {
	color: theme('colors.bold');
}

i,
em {
	font-style: italic;
}

b,
strong {
	font-weight: bold;
}

strong > a {
	color: theme('colors.bold');
}

small {
	display: block;
}

small,
.small {
	@apply tracking-wide;
	font-size: theme('fontSize.step--1');
}

hr {
	border: none;
	border-top: 1px solid;
	color: theme('colors.divider');
	margin: 1em 0;
	margin: var(--stack-space, 1em) 0;
}

figcaption {
	@apply tracking-wide;
	font-size: theme('fontSize.step--1');
	margin-top: 1em;
}

.sheet + figcaption {
	color: theme('colors.accent');
}

picture + figcaption,
img + figcaption {
	color: theme('colors.primary');
}

figure[data-border="none"] figcaption {
	color: inherit;
}

p {
	@apply max-w-copy;
}

ul:not([class]),
ol:not([class]) {
	@apply max-w-copy;
}

ul:where([class]),
ol:where([class]) {
	padding: 0;
}

:where(ul[class]) > li {
	list-style: none;
}