/* @font-face {
	font-family: 'Archivo';
	src: url('/assets/fonts/Archivo-VariableFont.ttf') format('truetype');
	font-weight: 100 900;
	font-stretch: 62% 125%;
	font-style: normal;
}

@font-face {
	font-family: 'Archivo';
	src: url('/assets/fonts/Archivo-Italic-VariableFont.ttf') format('truetype');
	font-weight: 100 900;
	font-stretch: 62% 125%;
	font-style: italic;
}

@font-face {
	font-family: 'Saira';
	src: url('/assets/fonts/Saira-VariableFont.ttf') format('truetype');
	font-weight: 100 900;
	font-stretch: 50% 125%;
	font-style: normal;
}

@font-face {
	font-family: 'Saira';
	src: url('/assets/fonts/Saira-Italic-VariableFont.ttf') format('truetype');
	font-weight: 100 900;
	font-stretch: 50% 125%;
	font-style: italic;
} */
