html, body {
	overflow-x: -moz-hidden-unscrollable;
	overflow-x: clip;
}

html {
	scroll-padding-top: 2em;
}

body {
	background-color: theme('colors.sheet.0');
	color: theme('colors.base');
	font-family: theme('fontFamily.sans');
	font-size: theme('fontSize.step-0');
	letter-spacing: 0.015em;
}

main {
	--sidebar-content-min-width: 60%;
}

main:focus {
	border: none;
	outline: none;
	box-shadow: none;
}

img {
	height: auto;
	flex: none;
}

h1, h2, h3 {
	font-weight: bold;
	line-height: 1;
}

h1 {
	color: #eee;
  font-size: theme('fontSize.step-5');
	letter-spacing: -0.015em;
	text-transform: uppercase;
}

@media screen and (min-width: 500px) {
	h1 {
		font-stretch: 108%;
	}
}

h2 {
	@apply text-white/90 tracking-wide;
	font-family: theme('fontFamily.fancy');
  font-size: theme('fontSize.step-3');
	text-transform: uppercase;
}

* + h2:not([data-rule="none"])::before,
h2[data-rule]:not([data-rule="none"])::before {
	@apply text-glare/20;
	border-top: 1px solid;
	content: '';
	display: block;
	width: 100%;
	margin-bottom: theme('spacing.l-xl');
}

h3 {
	@apply text-white/90;
  font-size: theme('fontSize.step-1');
}

h4 {
	font-weight: bold;
}

a {
	color: inherit;
	text-decoration-thickness: 0.14em;
	text-decoration-color: theme('colors.secondary');
}

a[data-variant~="hover"] {
	text-decoration: none;
}

a[data-variant~="hover"]:hover {
	text-decoration: underline theme('colors.secondary') 0.14em;
}

a:focus, summary:focus, button:focus {
	border: 0;
	box-shadow: none;
	outline: 0.12em solid theme('colors.primary');
	outline-offset: 0.2em;
}

i, em {
	font-style: italic;
}

b, strong {
	font-weight: bold;
}

strong {
	color: theme('colors.primary');
}

figcaption {
	@apply tracking-wide;
	color: theme('colors.glare');
	font-size: theme('fontSize.step--1');
	margin-top: 1em;
}

small {
	display: block;
	font-size: theme('fontSize.step--1');
}

ul[class] {
	padding: 0;
}

ul[class] > li {
	list-style: none;
}

aside > * {
	--stack-space: 1em;
}

hr {
	@apply text-glare/20;
	border: none;
	border-top: 1px solid;
	margin: 1em 0;
	margin: var(--stack-space, 1em) 0;
}

summary {
	cursor: pointer;
}

summary h2, summary h3, summary h4 {
	display: inline-block;
}

summary:has(h2, h3) + * {
	margin-top: 1em;
}

summary + table, summary + .big-table {
	margin-top: 0;
}

table {
	border-spacing: 0;
	overflow-x: auto;
	text-align: left;
}

table * {
	vertical-align: middle;
}

thead {
	@apply bg-sheet-0/80;
}

thead th {
	font-size: theme('fontSize.step--1');
	letter-spacing: 0.05em;
	text-transform: uppercase;
}

th {
	font-family: theme('fontFamily.fancy');
	letter-spacing: normal;
}

th, td {
	padding: calc(theme('spacing.l') / 2) calc(theme('spacing.l-xl') / 2);
}

tbody tr:nth-of-type(2n) {
	@apply bg-sheet-0/80;
}

tbody tr:nth-of-type(2n+1) {
	@apply bg-sheet-2/80;
}

td {
	vertical-align: top;
}

table p {
	min-width: 23ch;
}

table[data-width="stretch"] {
	min-width: var(--wrapper-max-width, 46rem);
}

details table {
	min-width: 100%;
}

[data-stripe="even"] tbody tr:nth-of-type(2n) {
	@apply bg-sheet-2/80;
}

[data-stripe="even"] tbody tr:nth-of-type(2n+1) {
	@apply bg-sheet-0/80;
}

[data-stripe="even"] thead {
	@apply bg-sheet-2/80;
}
