html {
	scroll-padding-top: 2em;
}

body {
	background-color: theme('colors.sheet.0');
	color: theme('colors.base');
	font-family: theme('fontFamily.sans');
	font-size: theme('fontSize.step-0');
	letter-spacing: 0.01em;
}

main {
	--sidebar-content-min-width: 60%;
}

main:focus {
	border: none;
	outline: none;
	box-shadow: none;
}

h1, h2, h3 {
	@apply text-white/90;
	line-height: 1;
}

h1, h2 {
	letter-spacing: 0.025em;
}

h1 {
	font-family: theme('fontFamily.fancy');
  font-size: theme('fontSize.step-5');
	font-weight: bold;
	text-transform: uppercase;
}

h2 {
	font-family: theme('fontFamily.fancy');
  font-size: theme('fontSize.step-3');
	font-weight: bold;
	text-transform: uppercase;
}

h3 {
/* 	color: theme('colors.primary'); */
  font-size: theme('fontSize.step-1');
	font-family: theme('fontFamily.fancy');
	font-weight: bold;
	letter-spacing: normal;
}

a {
	color: inherit;
	text-decoration-thickness: 0.14em;
	text-decoration-color: theme('colors.secondary');
}

a:focus {
	border: 0;
	box-shadow: none;
	outline: 0.12em solid theme('colors.primary');
	outline-offset: 0.2em;
}

b, strong {
	font-weight: bold;
}

small {
	display: block;
	font-size: theme('fontSize.step--1');
}

ul[class] {
	padding: 0;
}

ul[class] > li {
	list-style: none;
}

hr {
	@apply text-white/20;
	border: none;
	border-top: 1px solid;
	margin: 1em 0;
	margin: var(--stack-space, 1em) 0;
}

aside {
	@apply bg-black/20;
	border-left: theme('fontSize.step--2') solid;
	color: theme('colors.secondary');
	font-weight: bold;
	padding: theme('spacing.s');
}

table {
	border-spacing: 0;
	overflow-x: auto;
	text-align: left;
}

table * {
	vertical-align: middle;
}

table[data-stripe] {
	@apply bg-sheet-0/80;
}

table:has([data-stripe]) {
	@apply bg-sheet-0/80;
}

[data-stripe="even"] tr:nth-of-type(2n):not(:only-child) {
	@apply bg-sheet-2/80;
}

[data-stripe="even"] thead {
	@apply bg-sheet-2/80;
}

[data-stripe="odd"] tr:nth-of-type(2n+1):not(:only-child) {
	@apply bg-sheet-2/80;
}

thead th {
	font-size: theme('fontSize.step--1');
	letter-spacing: 0.05em;
	text-transform: uppercase;
}

th {
	font-family: theme('fontFamily.fancy');
	letter-spacing: normal;
}

th, td {
	padding: calc(theme('spacing.l') / 2) calc(theme('spacing.l-xl') / 2);
}

table p {
	min-width: 23ch;
}
