<section class="bg-sheet-1 region stack wrapper">
	<header>
		<h2>Contributors</h2>
	</header>
	<div class="credits stack with-rule" data-rule-top="true">
		{% for entry in credits %}
		<article class="sidebar stack">
			<h3>{{ entry.title }}</h3>
			<ul class="grid">
				{% for contributor in entry.contributors %}
				<li>
					<span>{{ contributor.split('#')[0] }}</span><span class="text-base/60">{{ '#' + contributor.split('#')[1] }}</span>
				</li>
				{% endfor %}
			</ul>
		</article>
		{% endfor %}
	</div>
</section>
