<ul class="auto-grid max-w-none" data-variant="card-list">
	{% for item in items | sortBy('name') | reverse | sortBy(['isNew', 'isChina']) | reverse %}
		<li class="sheet card stack box-border p-s" data-border="none">
			<div class="item-frame" data-variant="matrix" data-size="m">
				<img class="drop-shadow-xl" src="/assets/images/chip/{{ item.fileSlug }}.png" alt="" width="205" height="205" loading="lazy">
				{% if item.data.isNew %}
					<span class="new-badge absolute bottom-0 inset-x-1/4" aria-hidden="true">
						New
					</span>
				{% endif %}
			</div>
			<div class="font-bold text-center stack">
				<div class="absolute top-3xs left-3xs leading-none">
					{% if item.data.isChina %}
						{% china %}
					{% endif %}
				</div>
				<a class="text-white/90" href="{{ item.data.permalink | default('/matrices/' + item.fileSlug + '/') }}" data-variant="hover">
					{{ item.data.name }}
				</a>
			</div>
		</li>
	{% endfor %}
</ul>
