<nav class="bg-sheet-1/90 shadow-xl region wrapper copy stack" data-wrapper="site">
	<h2>Other {{ collection | capitalize }}</h2>
	<div class="stack with-rule">
		{% for rarity, items in collections[collection] | sortBy('rarity') | groupBy('rarity') | reverse %}
			<div class="copy stack">
				<h3>
					<span class="highlight-rarity italic" data-rarity="{{ rarity }}">{{ string.rarity[rarity - 1] }}</span><span> {{ collection | capitalize }}</span>
				</h3>
				{% set items = items | reverse %}
				<ul class="cluster gap-xs">
					{% for item in items | sortBy('name') | reverse | sortBy(['isNew', 'isChina']) | reverse %}
						<li>
							<a
								class="chip"
								href="{{ item.url }}"
								{% if item.url === page.url %}
									aria-current="page"
									data-variant="knockout"
								{% endif %}
								data-underline="on-hover"
							>
								{% if item.data.isChina %}
									{% if item.fileSlug === page.fileSlug %}
										{% china 'black' %}
									{% else %}
										{% china %}
									{% endif %}
								{% endif %}
								{{ item.data.name }}
							</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		{% endfor %}
	</div>
</nav>
