<section class="ending region wrapper copy stack" data-wrapper="site" aria-label="Ending">
	<h2>Other {{ collection | capitalize }}</h2>
	<div class="stack with-rule">
		{% for rarity, items in collections[collection] | sortBy('rarity') | groupBy('rarity') | reverse %}
			<div class="copy stack">
				<h3>
					<span class="highlight-rarity italic" data-rarity="{{ rarity }}">{{ string.rarity[rarity - 1] }}</span><span> {{ collection | capitalize }}</span>
				</h3>
				{% set items = items | reverse %}
				<ul class="mini-list cluster">
					{% for item in items | sortBy(['isNew', 'isChina', 'name']) | reverse %}
						<li>
							<a
								href="/{{ collection }}/{{ item.fileSlug }}"
								{% if item.fileSlug === page.fileSlug %}
									aria-current="page"
									data-state="active"
								{% endif %}
								data-variant="hover"
							>
								{% if item.data.isChina %}
									{% china %}
								{% endif %}
								{{ item.data.name }}
							</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		{% endfor %}
	</div>
</section>
