<ul class="card-list auto-grid max-w-none">
	{% for item in items | sortBy('name') | reverse | sortBy(['isNew', 'isChina']) | reverse %}
		<li class="sheet card stack box-border p-s"  >
			<div class="item-frame">
				<img class="drop-shadow-xl" src="/assets/images/gadget/{{ item.fileSlug }}.png" alt="" width="205" height="205" loading="lazy">
				{% if item.data.isNew %}
					<span class="new-badge absolute bottom-0 inset-x-1/4" aria-hidden="true">
						New
					</span>
				{% endif %}
			</div>
			<div class="font-bold text-center stack">
				<div class="absolute top-3xs left-3xs leading-none">
					{% if item.data.isChina %}
						{% china %}
					{% endif %}
				</div>
				<a class="text-white/90" href="{{ item.url }}" data-underline="on-hover">
					{{ item.data.name }}
				</a>
			</div>
		</li>
	{% endfor %}
</ul>
