<nav class="nav" aria-label="Primary">
	<details class="region stack wrapper">
		<summary class="text-step--1 button" data-variant="ghost">
			{% include "icons/menu.svg" %}
			<span class="nav__toggle">Menu</span>
		</summary>
		<a href="/" class="nav__head" aria-label="{{ site.name }} - home">
			<img src="/assets/images/fixed_btn_cbt_small.png" width="100" height="142" alt="">
			<span>Tower of Fantasy Index</span>
		</a>
		<ul class="nav__links flex-grid">
			{% for item in navigation.pages %}
			<li>
				<a
					href="{{ item.url }}"
					{{ helpers.getLinkActiveState(item.url, page.url) | safe }}
					{% if item.external %}target="_blank"{% endif %}
				>
					<span>{{ item.text }}</span>
				</a>
			</li>
			{% endfor %}
		</ul>
		<ul class="nav__links flex-grid text-secondary">
			{% for item in navigation.socials -%}
			<li>
				<a href="{{ item.url }}" {% if item.external %}target="_blank"{% endif %}>
					<span>{{ item.text }}</span>
				</a>
			</li>
			{%- endfor %}
		</ul>
	</details>
</nav>
