<ul class="auto-grid max-w-none" data-variant="card-list">
	{% for item in items | sortBy('name') | reverse | sortBy(['isNew', 'isChina']) | reverse %}
		<li class="sheet card stack box-border p-s" data-border="none">
			<div class="relative">
				<img class="shadow-xl rounded-full bg-sheet-3" src="/assets/images/avatar/{{ item.fileSlug }}.png" alt="" width="88" height="88" loading="lazy">
				{% if item.data.isNew %}
					<span class="new-badge absolute bottom-[-0.4em] inset-x-1/4" aria-hidden="true">
						New
					</span>
				{% endif %}
			</div>
			<div class="font-bold text-center stack">
				<div class="absolute top-3xs left-3xs leading-none">
					{% if item.data.isChina %}
						{% china %}
					{% endif %}
				</div>
				<a class="text-white/90" href="{{ item.url }}" data-variant="hover">
					{{ item.data.name }}
				</a>
				<div class="text-center text-step-0 leading-none stack-space-2xs">
					<img class="inline-block" src="/assets/images/icon/reso_{{ item.data.weapon.resonance }}.png" alt="" width="34" height="31">
					<img class="inline-block" src="/assets/images/icon/ele_{{ item.data.weapon.element }}.png" alt="" width="34" height="31">
				</div>
			</div>
		</li>
	{% endfor %}
</ul>
