<ul class="auto-grid max-w-none">
	{% for item in items | sortBy(['isNew', 'isChina', 'name']) | reverse %}
		<li class="sheet card stack box-border p-s" data-border="none">
			<div class="relative">
				<img class="shadow-xl rounded-full bg-sheet-3 outline outline-1 outline-sheet-1/40" src="/assets/images/avatar/{{ item.fileSlug }}.png" alt="" width="88" height="88" loading="{{ 'lazy' if loop.index > 5 else 'auto' }}">
				{% if item.data.isNew %}
					<span class="new-badge" aria-hidden="true">
						New
					</span>
				{% endif %}
			</div>
			<div class="font-bold text-center stack">
				<div class="absolute top-3xs left-3xs leading-none">
					{% if item.data.isChina %}
						{% china %}
					{% endif %}
				</div>
				<a class="text-white/90" href="/simulacra/{{ item.fileSlug }}" data-variant="hover">
					{{ item.data.name }}
				</a>
				<div class="text-center text-step-0 leading-none stack-space-3xs">
					<img class="inline-block" src="/assets/images/icon/reso_{{ item.data.weapon.resonance }}.png" alt="" width="34" height="31">
					<img class="inline-block" src="/assets/images/icon/ele_{{ item.data.weapon.element }}.png" alt="" width="34" height="31">
				</div>
			</div>
		</li>
	{% endfor %}
</ul>
